[2015-08-08 12:58] f3nix opened #1 "Problems with nut generation"
Hi,
After clicking the ISO4032 nut or ISO4033 I'm getting a strange result. Screenshot attached.

Any idea what is going on?

EN1661 nut works as expected...

Cheers,
Mateusz

OS: Debian GNU/Linux unstable (sid)
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 0.16.5334 (Git)
Build type: Release
Branch: master
Hash: 4f6a50ac271b74381a69f411983ba2758082573a
Python version: 2.7.10
Qt ve

[2015-08-08 16:19] shaise commented on #1
Hi f3nix,
This is very strange, I have tried it both on FreeCad V0.15 and V0.16 (5209 and 5332). And it works well. However I use windows version and I have no Linux to test it.
Can you open "Report View" and see if you get any error messages? (View -> Views -> Report view)
shai

[2015-08-08 16:32] f3nix commented on #1
There are no error messages in the report view. The console is also empty.

I do not see this problem with FreeCAD 0.14:

OS: Debian GNU/Linux unstable (sid)
Word size: 64-bit
Version: 0.14.3702 (Git)
Branch: releases/FreeCAD-0-14
Hash: b3368125c63289ec8ce9faec2b2ae4c78d436406
Python version: 2.7.8
Qt version: 4.8.6
Coin version: 4.0.0a
SoQt version: 1.6.0a
OCC version: 6.7.0

Any ideas on how to

[2015-08-08 16:47] shaise commented on #1
Can you try it on a clean V0.15 version? (no other plugins/workbenches)

[2015-08-08 16:56] shaise commented on #1
Also, please delete all preferences: under ~/.FreeCAD, delete (or backup and delete) user.cfg and system.cfg

[2015-08-08 19:15] f3nix commented on #1
Hi again shaise,
I've narrowed it down a little bit.

The problem seems to be the OCC version. With OCC 6.7.0 everything works as expected. The OCC 6.9.0 is making trouble...

[2015-08-08 21:49] shaise commented on #1
Hi f3nix,
I'm working with official freecad releases 15 and 16. both are bundled with OCC 6.8.0, which works fine. I'll see if I can easily get 6.9.0 binaries and test it.

[2015-08-11 21:28] ulrich1a commented on #1
From the picture, it seems that a boolean operation failed, that makes a hex-part from a round part. The release notes for OCCT 6.9 mentions work on boolean operation. The problem could be, that the flat top ring of the nut touches just the cutting shape. I tried to get rid of complex boolean operations, but this one worked and is very fast. So I could try to replace the one complex boolean operat

[2015-08-13 16:40] f3nix commented on #1
Ok. Thanks Ulrich! :)

I'd like to thank You both ulrich1a and shaise for your great work. :+1:

[2016-03-15 11:20] kkoksvik commented on #1
I see this problem also on OCC v 6.9.1 on Arch

OS: "Arch Linux"
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 0.16.6612 (Git)
Build type: Unknown
Branch: master
Hash: 18f0cc634665e15f5191dbfa9ea980a16e25ad26
Python version: 2.7.11
Qt version: 4.8.7
Coin version: 3.1.3
OCC version: 6.9.1

[2016-03-21 08:20] pgilfernandez opened #2 "[Enhancement] Bolt-nut holes"
Hi,

Since 3D printing is around our lives it is very common to design lots of parts to be printed. For assemblies it is also very common to create all kind of holes or grooves in order to fit bolts and nuts.
As it became a repetitive task, I created a holes/grooves library with a standard play of 0,3mm for easy accommodation of bolt/nuts and easy access for tuning the length of holes.
[Here you h

[2016-04-21 11:19] iak92 opened #3 "invalid literal for int() with base 10:unknown"
Hey I downloaded your module and extrcted it to ~/.Freecad/Mod. If I start Freecad it says Fasteners loaded and it's shown in the Menu. But if I try to select it the above Error appears. How can i fix this?

[2016-04-21 11:43] shaise commented on #3
I understand you use Linux.
What freecad version do you have?
Unfortunately I do not have a Linux machine, so its hard for me to trace such errors

[2016-04-21 18:00] iak92 commented on #3
FreeCAD 0.16 on an ArchLinux Machine with 4.5.1 Kernel

[2016-04-21 19:43] shaise commented on #3
Lets see if we can get more info.
Before selecting the workbench, show the report view. From the menu - View
-> Panels -> Report view.
Then go to Edit -> Preferences. Select "General" icon. then select "output
window" tab. Make sure all boxes under "Output" are checked.
Now go ahead and select the fasteners workbench.
See if now you get a more detailed error message in the report view. If so,
copy

[2016-04-21 20:14] iak92 commented on #3
invalid literal for int() with base 10: 'Unknown'
Traceback (most recent call last):
  File "<string>", line 60, in Initialize
  File "~/.FreeCAD/Mod/FreeCAD_FastenersWB-master/FastenerBase.py", line 58, in <module>
    DropButtonSupported = int(FreeCAD.Version()[1]) > 15 and  int(FreeCAD.Version()[2].split()[0]) >= 5165

this is the output I get. It seems that FreeCAD.Version() returns a wrong ty

[2016-04-21 21:47] shaise commented on #3
OK, can you try the following:
Exit freecad if its running.
Using a text editor, edit the file
~/.FreeCAD/Mod/FreeCAD_FastenersWB-master/FastenerBase.py
change the problematic line 58 to:
DropButtonSupported = True
save the file and try running again.
Let me know if it helped.

shai

On Thu, Apr 21, 2016 at 11:14 PM, iak92 <notifications@github.com> wrote:

[2016-04-21 22:24] shaise commented on #3
OK I think I know the reason. On some freecad builds, the build number
might be missing.
Since this check was for old beta versions of freecad 0.16, I think its
safe to remove it.
I have commited the changes into github, please download the new version
and try it.
The fix i gave you in the prev mail will not work, as line 59 have the same
issue.
Let me know if it worked.

shai

On Fri, Apr 22, 201

[2016-04-25 10:23] iak92 commented on #3
Hey the new version works
Thanks

[2016-04-25 10:23] #3 closed

[2016-05-14 13:11] 3yan commented on #1
wrote a fix for it:
http://forum.freecadweb.org/viewtopic.php?f=22&t=6558&p=125042#p125042

problem is that shape for cutting hex head is created in a wrong way.

[2016-05-14 16:56] shaise commented on #1
Yan's fix checked in.
Mateusz,
Can you please test and see if now it works for you?

[2016-12-31 06:57] f3nix commented on #1
Hi.
Sorry for very late reply. Somhow I've missed it.

It works for me now. But I am unable to test with original OCC version this issues has been created with.

I think this issue may be closed.

Thanks guys! :) :+1:

OS: Debian GNU/Linux unstable (sid)
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 0.17.9453 (Git)
Build type: Debug
Branch: master
Hash: b16fbcd4eeb9a5f9195c500e2693

[2017-04-16 09:29] EvansMike opened #6 "[enhancenent] Add round head rivets"
Most of the work is already done in makeIso7380(), a rivet can be produces by optioning the code that makes the hex recess.

[2017-06-17 07:31] easyw opened #7 "some screws cannot be created in FC latest (11300)"
with some screws (i.e. DIN967, ISO7045, ISO7046, ISO7047, ISO7048)
I get the following errors:

PS thx for this nice WB
Maurice

[2017-06-18 16:07] MrDorianJames opened #9 "Error in CountersunkHoles"
Not sure if this a problem with FreeCAD, my file or the plugin but i get this error. Not sure what it means but i thhought this would be the appropriate place to start.

[2017-06-18 18:45] shaise commented on #9
Can you explain what steps you did to get this error?

[2017-06-18 19:13] easyw commented on #7
Thx for merging :smile:

[2017-06-18 19:13] #7 closed

[2017-06-19 04:21] MrDorianJames commented on #9
i made a pocket which consisted of two circular holes on surface. then i changed to the Fastener work bench and select the edges to countersink, I select the counter sink icon and tell it which edges to use by selecting them again. I hit okay and it countersinks them. sorry if this doesn't help. is there a log file I can upload? however, I had to save and close my laptop so i lost the undo states.

[2017-06-19 04:34] shaise commented on #9
Hi,
Please provide also version of freecad and operating system. Simply, from freecad menu, goto "Help -> About", Click the "Copy to clipboard" button, and paste it here.

[2017-06-19 07:40] MrDorianJames commented on #9
OS: Ubuntu 17.04
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit

Version: 0.17.11310 (Git)
Build type: None
Branch: master
Hash: d28bae3f52b3e7cf959e8b9f7bcff264f95db191
Python version: 2.7.13
Qt version: 4.8.7
Coin version: 4.0.0a
OCC version: 7.1.0

[2017-06-19 08:01] shaise commented on #9
Thank you,

I was able to reproduce the issue. looking into it now.

[2017-06-19 17:00] shaise commented on #9
Thank you for the note. Bug is now fixed.

[2017-06-19 17:00] #9 closed

[2017-10-19 11:47] Redneckita opened #10 "Attaching fastener to a Body"
Hi, just installed this WB: looking good!
Only issue is i can't click on a circle of a feature (in a body of Part Design Next) to attach fasteners. FC shows the fastener in the tree with an error message "Links go out of the allowed scope".

However, should i deselect everything, the fastener spawn at 0,0,0 and i can move it where i need. I lack the offset and flip though; Also i need to move ever

[2017-11-08 14:51] shaise commented on #10
This should not happen. Can you post the question at freecad forum? you can attach the problematic file there, and I can test it.

[2017-11-08 16:53] luzpaz opened #12 "Images for README"
![image](https://user-images.githubusercontent.com/4140247/32561138-815cc5f8-c479-11e7-988e-3be19d3e98c3.png)

![image](https://user-images.githubusercontent.com/4140247/32561849-4276249a-c47b-11e7-9977-110be802d624.png)

![image](https://user-images.githubusercontent.com/4140247/32561853-466e708e-c47b-11e7-9029-923256e50650.png)

![image](https://user-images.githubusercontent.com/4140247/32561890

[2017-11-08 17:00] luzpaz opened #15 "Add a Screencast to README"
This helps users to faster recognize what this Workbench does. Eventually this screencast can be useful when Addon Installer becomes more sophisticated (https://github.com/FreeCAD/FreeCAD-addons/issues/37)

[2017-11-08 17:00] #12 closed

[2017-11-08 17:12] luzpaz opened #17 "Create metadata.txt for future Addon Installer"
Soon the Addon Installer will have more complexity. In preparation for it we are discussing how to augment it check out: https://github.com/FreeCAD/FreeCAD-addons/issues/29#issuecomment-303949382
Lets get Fasteners WB on-board with these changes!

[2017-11-08 17:26] luzpaz commented on #1
@kkoksvik can you still reproduce after 3yan's fix?

[2017-11-13 10:22] DeepSOIC opened #18 "readme mistake: "Data" tab should be "View""
Should be **"View" tab**

[2017-11-13 11:14] shaise commented on #18
fixed

[2017-11-13 11:14] #18 closed

[2018-02-01 14:23] KOLANICH opened #20 "Threaded solids of revolution as first-class citizens"
Threads are very widespread in technic, and there are even special conventions to mark threads on blueprints without drawing them.

So I guess that all bodies of revolution in freecad should have a property, making them as threaded. This may allow marking threads when making drawings, marking and showing threads without real rendering them in 3d (for example it is possible to apply a texture or a

[2018-02-01 18:49] shaise commented on #20
Hi Kolanich,
Yes, I guess you are right, but I think right now there is no system in freecad core to treat objects as special entities.

[2018-04-10 17:01] reox opened #22 "UNF/UNC threaded rod"
Today I was in the need of unified thread standard rods. I patched screwmaker to generate me the 5/16-24 thread:
https://github.com/shaise/FreeCAD_FastenersWB/compare/master...reox:master

I do not know much about inch threads but it seems they are quite the same as the metric ones (except withworth of course...)
So maybe it is worth to integrate more inch threads - but I think it will get quite m

[2018-04-18 22:11] yo-k opened #23 "feature request - square nut"
First at all - thank you for the great fasteners work bench!

Would it be possible to integrate square nuts, too?

https://www.schrauben-lexikon.de/norm/DIN_557.asp
https://www.schrauben-lexikon.de/norm/DIN_562.asp (low version)

Or may be you could give me a hint which code snipped I have to manipulate? I'll try.

Have a nice day!
yo-k

[2018-04-22 05:04] shaise commented on #23
I'll see what I can do about it.

[2018-04-25 14:45] shaise commented on #23
Done.

[2018-04-25 21:46] yo-k commented on #23
Wow, very fast and well done.

Thank you!!!

[2018-04-26 05:34] #23 closed

[2018-04-26 05:39] shaise commented on #23
Happy to have helped!

[2018-04-26 19:03] luzpaz commented on #1
@shaise Not sure but this issue may be fixed

[2018-04-26 19:04] luzpaz commented on #10
@Redneckita please follow up

[2018-04-26 19:14] Redneckita commented on #10
@luzpaz the issue has been discussed here: https://forum.freecadweb.org/viewtopic.php?f=22&t=25263

[2018-04-26 20:26] shaise commented on #1
Is this still an issue?

[2018-05-01 16:25] shaise commented on #10
It is now fixed. Fasteners will now attach to the parent body of any selected feature.

[2018-05-01 17:44] Redneckita commented on #10
Wonderful! Thanks so much for your work!

[2018-05-18 18:06] hhassey opened #24 "ISO7046 Screw Fails to generate the screw"
OS: Debian GNU/Linux 9.4 (stretch)
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 0.18.13721 (Git)
Build type: Release
Branch: master
Hash: afdd30b137cdfd096c61c4aee270025115d0f8d6
Python version: 2.7.13
Qt version: 4.8.7
Coin version: 4.0.0a
OCC version: 6.8.0.oce-0.17
Locale: English/UnitedStates (en_US)

Just pressing the button with no part associated. creates this error

Traceb

[2018-05-25 21:15] Gesiima opened #25 "ISO10642 & ISO14584 wrong direction socket pocket"
OS: Windows 10
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 0.18.13780 (Git)
Build type: Release
Branch: master
Hash: 9fb122008b99ea2d30ed3e6f7cc93a3b7717cce5
Python version: 2.7.14
Qt version: 4.8.7
Coin version: 4.0.0a
OCC version: 7.2.0
Locale: German/Germany (de_DE)

![iso10642 iso14584](https://user-images.githubusercontent.com/23234214/40566505-4bec80b8-6071-11e8-9985-57f490

[2018-05-27 12:41] shaise commented on #25
yes, problem verified. It happens freecad when moved from OCC v7.1 to OCC v7.2
Looking into it

[2018-06-27 21:11] rtm7777 opened #26 "Custom bots/screws"
Hello,
Thank you guys for your work!

I have M6x70 ISO4762 screws in my workshop, but it's not available it workbench
is there some way to add it?
The same for M2.5x12 ISO7380

Thanks!

[2018-08-06 10:08] shaise commented on #25
Sorry about that. I dug into the code, (its not mine) but could not find an easy fix. Do you know if ScrewMaker macro works for these types? If so, I will copy the solution from that. If not, I will try again as soon as I have time.

[2018-08-06 21:39] shaise commented on #24
Does it still happen in the latest freecad and FastenersWorkbench? I can not reproduce the issue.

[2018-08-13 03:03] AlexDaniel opened #27 "Nyloc nuts"
Nylon-insert nuts are missing. They are sized differently so standard nuts can't be used as a replacement.

[2018-08-22 11:26] shaise commented on #27
Added DIN 985 Nylon nuts, as requested.

[2018-08-22 11:26] #27 closed

[2018-08-22 11:42] AlexDaniel commented on #27
Wow, that was quick! Thank you very much!

[2018-08-23 15:06] billy1380 commented on #26
It would be great to have a way to select different pitches/coarseness e.g. M10 can be 0.75 1.0 and 1.25 https://www.newmantools.com/tech/threadmf.htm

[2018-08-23 22:37] frankhommers opened #28 "Purpose of parenthesis in diameter dropdown"
What is the purpose of the parenthesis in the diameter dropdown on some fasteners?

E.g. diameter: (M27) is with parenthesis and M24 is not.

[2018-08-24 08:00] shaise commented on #28
The fastener generation code is taken from "screw_maker" macro by Ulrich. I think its because the parenthesis ones are less standard but not sure.

[2018-08-24 08:18] frankhommers commented on #28
Ah OK. I also found it in this table to have the same notation.

![image](https://user-images.githubusercontent.com/7355878/44573407-d2ddaf00-a786-11e8-9a39-65f41ab7d512.png)

I guess you are right. Thanks

[2018-08-24 08:18] #28 closed

[2018-09-02 12:02] Gesiima commented on #25
Tested and works great! Thx für fix

OS: Windows 10
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 0.18.14495 (Git)
Build type: Release
Branch: master
Hash: c717d1121d888fe6cfbd8971b5f59311a34b37bc
Python version: 2.7.14
Qt version: 4.8.7
Coin version: 4.0.0a
OCC version: 7.2.0
Locale: German/Germany (de_DE)

[2018-09-02 13:58] luzpaz commented on #1
@f3nix do you mind retesting this ?

[2018-09-02 13:59] luzpaz commented on #24
@hhassey please respond

[2018-09-02 14:11] luzpaz opened #29 "Updating Fastener WB to be compatible with the upcoming 0.18 release (req. py3 and Qt5 compatibility)"
ref: https://github.com/FreeCAD/FreeCAD-addons/issues/93

[2018-09-02 17:56] f3nix commented on #1
Hi guys!
I can't reproduce it as before: https://github.com/shaise/FreeCAD_FastenersWB/issues/1#issuecomment-269852980

Now tested with:
OS: Debian GNU/Linux unstable (sid)
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 0.18.14512 (Git)
Build type: Debug
Branch: master
Hash: 94fa64077b748fd2385a83a82e8affffe2ac06db
Python version: 2.7.15+
Qt version: 4.8.7
Coin version: 4.0.0a
OCC v

[2018-09-02 18:42] luzpaz commented on #1
Thanks!
@shaise You can close this issue.

[2018-09-02 18:58] shaise commented on #1
Closing. Thanks.

[2018-09-02 18:58] #1 closed

[2018-09-02 19:01] luzpaz commented on #10
@shaise this issue cab be closed as well.

[2018-09-02 19:02] luzpaz commented on #20
@KOLANICH I recommend opening a feature request on the FreeCAD forums to discuss this further with the devs and community...

[2018-09-02 20:28] shaise commented on #10
Closing. Thanks.

[2018-09-02 20:28] #10 closed

[2018-09-03 13:34] shaise commented on #29
Done.

[2018-09-03 13:37] luzpaz commented on #29
@shaise Great! That was fast!
I will make a notation on the forum thread. Cheers!

[2018-09-03 13:37] #29 closed

[2018-09-03 13:48] shaise commented on #29
Well Conda's build was a great helper.

[2018-09-20 22:27] OMTDesign opened #30 "ISO 14584 Screw"
OS: Ubuntu 16.04.5 LTS
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 0.18.14779 (Git)
Build type: Release
Branch: master
Hash: 50ab6e292cc83cada4a5b071531a76f5a2580f60
Python version: 2.7.12
Qt version: 4.8.7
Coin version: 4.0.0a
OCC version: 7.3.0
Locale: English/UnitedKingdom (en_GB)

There seems to be a problem with the ISO 14584 screws. The torx pattern is generated above the s

[2018-09-21 05:36] shaise commented on #30
This is an old bug. are you sure you use the latest FastenersWB version?

[2018-09-29 17:37] ldboehm opened #31 "Enhancement; nut and bolts to fit when 3D printed and user adjustments"
Currently when 3d printing parts with nuts and bolts, they don't fit together.  Some testing shows the nut need to be scaled upward by 110% when printing, then they fit on the bolt thread.  Standard nuts will fit a bolt properly.

enhancement requests
- Nuts and bolts should work together virtual or printed by default.
- Nice to have would be allow some tuning by the user for thread pitch, thread

[2018-09-29 20:52] shaise commented on #31
Nuts and bolts are mechanically accurate on CAD. 3D printers add some inaccuracies that makes it not fit that well.
The following fork lets you tinker the sizes of the thread to make it work for 3D printers:
https://github.com/wieck/FreeCAD_FastenersWB/tree/scaling
you can find a discussion in the following thread:
https://forum.freecadweb.org/viewtopic.php?f=8&t=26159&p=207570&hilit=3d+printed+bo

[2018-09-29 22:52] ldboehm commented on #31
Hi Shai,
Thanks for the response.

3D printing technology and printers has advanced greatly, so saying
that it introduces inaccuracies toward what users are experiencing is
not the correct way to state that.  There are lots of things in this
world that started off on paper that needed tuning to match the real
world.

My printer is very new, and it does an amazing job with the things I
print. Some

[2018-09-30 05:33] shaise commented on #31
As Said,
You can use the modified workbench (first link above) and play with thread
sizes (it will only affect the thread, not other dimensions)
I have been using that myself and even 3D printed functional M3 (!) bolts
and nuts on my Prusa MK3 3D printer.

shai

On Sun, Sep 30, 2018 at 1:52 AM ldboehm <notifications@github.com> wrote:

[2018-09-30 16:03] ldboehm commented on #31
My apologies, I missed that.
I am confused though, do I just re-install the workbench, or do I have to
install this branch somehow, and if so how?

On Sat, Sep 29, 2018 at 4:52 PM Shai Seger <notifications@github.com> wrote:

[2018-10-01 02:42] luzpaz opened #32 "Does FastenersWB have an icon/logo ?"
I'd like to add it to this page on the wiki: https://freecadweb.org/wiki/Template:DevWorkbenches

[2018-10-01 09:28] shaise commented on #32
yes. this one:
https://github.com/shaise/FreeCAD_FastenersWB/raw/master/Icons/FNLogo.svg

[2018-10-03 00:51] ldboehm commented on #31
I'm running MacOS High Sierra and I can't figure out where FreeCAD is
stored!
Any idea?

On Sun, Sep 30, 2018 at 1:33 AM Shai Seger <notifications@github.com> wrote:

[2018-10-03 04:50] shaise commented on #31
you should try and ask on the freecad forum:
https://forum.freecadweb.org/

[2018-10-06 11:58] #32 closed

[2018-10-06 12:01] luzpaz commented on #30
@OMTDesign ping

[2018-10-06 14:38] luzpaz opened #33 "Fix up the Fasteners FC wiki page"
@yorikvanhavre is intent on having all workbenches have some representation on the wiki. The Fasteners WB is at www.freecadweb.org/wiki/Sandbox:Fasteners
Lets move it out of Sandbox and soup it up?

Also I wonder if there is a way for mediawiki to mirror the changelog for Fasteners on Github ? That way WB authors don't need to do double work when they modify their WBs (unless they add/remove featu

[2018-10-06 15:52] shaise commented on #33
As soon as I have time... :)

[2018-10-09 02:56] OMTDesign commented on #30
It turns out that I couldn't update the Fasteners wrokbench through the Freecad Add-on Manager. I uninstalled the addon, reinstalled FastenersWB and the issue was gone.

Sorry for the late reply, my inbox got swamped by other messages.

[2018-10-09 02:56] #30 closed

[2018-10-29 18:40] hhassey commented on #24
I am sorry, I somehow didn't get notified.

It still happens to me.

I just reinstalled the Fasteners WB again to make sure.

My System:
OS: Debian GNU/Linux 9.5 (stretch)
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 0.18.15007 (Git)
Build type: Debug
Branch: master
Hash: 70fef3934190aabc61f5e1346483359d5ad21403
Python version: 2.7.13
Qt version: 4.8.7
Coin version: 4.0.0a
OCC ver

[2018-10-29 19:33] hhassey commented on #24
After trying to debug, I found I had two folders named fasteners (Fasteners and fasteners) I uninstalled, deleted the still there Fasteners folder and re installed, no issue now!
\
Thanks for your time

We can close this issue now

[2018-10-29 19:33] #24 closed

[2018-10-29 19:42] hhassey commented on #22
I support @reox  I think we should have threaded rods.

[2018-10-29 19:48] hhassey commented on #22
@reox  It looks like you can get the result with the Screw Tap!

[2018-10-29 21:48] reox commented on #22
@hhassey what do you mean by Screw Tap? Unfortunately I have no clue what you mean :/

[2018-11-09 16:48] silopolis opened #34 "Invalid character initialization error"
Hi,

When starting Freecad (FreeCAD_0.18.15150_Conda_Py3Qt5_glibc2.12-x86_64.AppImage) I get the following error:

``During initialization the error invalid character in identifier (<string>, line 1) occurred in /home/tarax/.FreeCAD/Mod/fasteners/InitGui.py
``

[2018-12-27 12:31] shIxx01 opened #35 "Fales to generate screw ISO4762 M4x10"
Hallo,
it seems like you can not generate an ISO 4762 screw if you want it to be 10mm in length.
This error appears in the report view:
[code]

System:
OS: Windows 10
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 0.17.13541 (Git)
Build type: Release
Branch: releases/FreeCAD-0-17
Hash: 9948ee4f1570df9216862a79705afb367b2c6ffb
Python version: 2.7.14
Qt version: 4.8.7
Coin version: 4.

[2018-12-27 12:50] shIxx01 commented on #35
Strange, as soon as I set thread to true it workes. Here is the whole report file:
`Traceback (most recent call last):
  File "C:\Users\thoma\AppData\Roaming\FreeCAD\Mod\fasteners\FastenersCmd.py", line 119, in execute
    s = screwMaker.createFastener(fp.type, d, l, threadType, True)
  File "C:\Users\thoma\AppData\Roaming\FreeCAD\Mod\fasteners\ScrewMaker.py", line 249, in createFastener
    retur

[2018-12-28 11:50] shaise commented on #35
Hi,
Thanks for the catch. I have fixed it, please test and close the issue.

shai

[2018-12-29 11:14] #35 closed

[2018-12-29 11:47] shIxx01 commented on #31
Hi,
the fork (link above) can not be found via the addon manager. There is only your FastenersWB. But you should find the fork according to its installation instructions in addon manager. However, manual instalation works and the WB is available in the dropdown list in Freecad. but if I also install your WB now  it is strange. The icon of the fork will be displayed, but your WB (where you can not

[2019-01-06 09:55] shIxx01 opened #36 "Does not coexist with the fork"
Hi,
the fork (https://github.com/wieck/FreeCAD_FastenersWB/tree/scaling) can not be found via addon manager. There is only your FastenersWB. But you should find the fork according to its installation instructios in addon manager. However, manual instalation works and the WB is available in the dropdown list in Freecad. But if I also install your WB now,  it behaves strange. The icon of the fork wi

[2019-01-25 15:32] luzpaz opened #38 "The future of Todo.md"
Should the remaining items in [Todo.md](https://github.com/shaise/FreeCAD_FastenersWB/blob/master/TODO.md) be added to Issues and then the file removed ?

[2019-01-25 16:21] shaise commented on #38
does it mater?

[2019-01-25 16:43] luzpaz commented on #38
lol, in the grand scheme of things,nprolly not. My inclination is to keep things tidy. Obviously it's your perogative which I defer to.

[2019-01-25 17:08] shaise commented on #38
well, I guess this file can be removed. It is not updated anyway

[2019-01-25 18:03] luzpaz opened #39 "Installing Latest Fasteners on Appimage errors"
Running:
[code]
After installing latest Fasteners WB and restarting FC
Switching to Fasteners returns:
[code]

[2019-01-25 18:06] luzpaz commented on #34
I can't recreate this on FreeCAD_0.18.15671_Conda_Py3Qt5_glibc2.12-x86_64.AppImage

[2019-01-25 18:09] luzpaz commented on #36
@shIxx01 that's because the is the official Fastener WB and @wieck forked it. So it makes sense that it isn't in the addon manager. Perhaps @wieck can open a PR and a discussion on the forums with a merge proposal ?

[2019-01-25 19:31] shaise commented on #39
can't recreate the error under my system:
OS: Windows 10
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 0.18.15656 (Git)
Build type: Release
Branch: master
Hash: a60b6957db228c42a00a1e002a415cbb8309d3c8
Python version: 2.7.14
Qt version: 4.8.7
Coin version: 4.0.0a
OCC version: 7.2.0
Locale: English/UnitedStates (en_US)

any Idea where to look?

[2019-01-25 19:40] shaise commented on #39
Ok, I think I know why. Please try again.

[2019-01-26 06:11] shaise commented on #31
The latest version supports 3D printed bolts and nuts. See
https://forum.freecadweb.org/viewtopic.php?f=8&t=26159&start=20#p282313

[2019-01-27 02:18] wieck commented on #36
My fork is/was experimental, only implementing the thread scaling for a few bolt/nut types as a proof of concept. Job changes kept me from getting back to it.

Good to hear that a new version has this feature. The way I hacked it led to invalid objects that slic3r wouldn't load properly.

I am going to drop the fork to avoid future confusion.

Thanks for all your work, Jan

[2019-01-27 06:08] shaise commented on #36
Thank you Jan for your Idea.
I found it useful when I need to tap holes into models.

[2019-01-27 06:31] TreidenX opened #42 "Error creating thread in M5 nut"
OS: Windows 10
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 0.17.13541 (Git)
Build type: Release
Branch: releases/FreeCAD-0-17
Hash: 9948ee4f1570df9216862a79705afb367b2c6ffb
Python version: 2.7.14
Qt version: 4.8.7
Coin version: 4.0.0a
OCC version: 7.2.0

Error creating thread in M5 nut (ISO-4032, ISO-4033, ISO-4035):

Traceback (most recent call last):
  File "C:\Users\atnwe\AppD

[2019-01-27 09:57] shIxx01 commented on #36
Ok Tanks for the feature. I will close this issue

[2019-01-27 09:57] #36 closed

[2019-01-30 08:53] shaise commented on #42
Yes, I have noticed for sometime. I notified the developer and will implement the fix as soon as he solves it.

[2019-01-31 21:04] #38 closed

[2019-02-23 00:56] pubpsv commented on #42
Error creating thread in nut M30

[2019-04-10 15:11] DJKyomi opened #45 "can not start the Fasteners WB"
OS: Ubuntu 18.04.2 LTS
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 0.18.1.
Build type: Release
Python version: 2.7.15rc1
Qt version: 5.9.5
Coin version: 4.0.0a
OCC version: 7.3.0
Locale: German/Germany (de_DE)

Error:

![image](https://user-images.githubusercontent.com/39458089/55890723-7ca56b00-5bb3-11e9-96cf-2fd997ee1916.png)

invalid literal for int() with base 10: '18.1'
Trac

[2019-04-10 22:01] elf128 opened #46 "WB is fail to start when used with FreeCad 0.18.1"
Traceback (most recent call last):
  File "/home/vlad/.FreeCAD/Mod/fasteners/FastenersCmd.py", line 31, in <module>
    import FastenerBase
  File "/home/vlad/.FreeCAD/Mod/fasteners/FastenerBase.py", line 58, in <module>
    DropButtonSupported = int(FreeCAD.Version()[1]) > 15 # and  int(FreeCAD.Version()[2].split()[0]) >= 5165
<class 'ValueError'>: invalid literal for int() with base 10: '18.1'

[2019-04-10 22:08] elf128 commented on #46
duplicate of #45

[2019-04-10 22:08] #46 closed

[2019-04-10 22:28] elf128 commented on #45
Pull request #47 have been created. Please wait for approval and integration.

[2019-04-11 08:06] #45 closed

[2019-04-20 09:03] gabirx commented on #42
Error creating thread in nut (M27) - shape is not a shell
Traceback (most recent call last):
  File "C:\Users\user\AppData\Roaming\FreeCAD\Mod\fasteners\FastenersCmd.py", line 121, in execute
    s = screwMaker.createFastener(fp.type, d, l, threadType, True)
  File "C:\Users\user\AppData\Roaming\FreeCAD\Mod\fasteners\ScrewMaker.py", line 264, in createFastener
    return self.createScrew(type, dia

[2019-05-14 14:18] luzpaz commented on #42
@shaise any progress?

[2019-05-14 14:41] luzpaz commented on #34
@silopolis can you recreate this on the latest 0.18.2 stable or 0.19_pre ?

[2019-05-14 14:42] luzpaz commented on #33
I've moved the page out of the sandbox http://www.freecadweb.org/wiki/Fasteners_Workbench

[2019-05-14 14:55] luzpaz commented on #33
@shaise JIC (you probably already know anyway), there are some broken image links on that wiki page.

[2019-05-14 15:02] shaise commented on #33
Hi,
I did not make this wiki page. How can I help?

[2019-05-14 15:06] luzpaz commented on #33
Oh if that's the case, I'm not sure then. Perhaps take a look at it and see if there is anything you think people should be aware about ? If you are feeling comfortable with the idea, you could make a youtube clip or a screencast of the workbench in action? Whatever you think.

I think you should also add the https://www.freecadweb.org/wiki/Fasteners_Workbench links somewhere in the README.md as w

[2019-05-14 15:14] shaise commented on #42
@luzpaz This is Ulrich's code. I think it got something to do with OCC.

[2019-05-14 15:46] luzpaz commented on #42
@shaise can we ping ulrich on this, just so if there needs to be a workaround or an upstream OCC ticket made ?

[2019-05-14 15:56] shaise commented on #42
We can ping him, I just dont know how.

[2019-05-14 16:29] easyw commented on #42
@shaise ... I think this is his repo
https://github.com/ulrich1a
than to ping him you can just put @ulrich1a here.
PS @shaise would you please have a look at this [PR 79 @ SheetMetal](https://github.com/shaise/FreeCAD_SheetMetal/pull/79)?

[2019-05-14 16:59] shaise commented on #42
@easyw, regarding 79, I'm more or less OK with it, But I'm waiting for your approval.

[2019-05-14 18:08] easyw commented on #42
@shaise I think we can merge it and then apply the fix to drop to old method in case of simple models.
I have also a new pr pending, for improving some unfolding user case as seen at freecad forum.

[2019-06-02 13:41] luzpaz commented on #22
@hhassey ping

[2019-06-02 13:42] luzpaz commented on #34
@silopolis ping

[2019-06-02 13:43] luzpaz commented on #26
@rtm7777 can you please post to https://forum.freecadweb.org/viewforum.php?f=8&sid=853eff68d2a09bfd39fb3508d038af97 to start a discussion regarding this issue? Thanks

[2019-06-02 13:50] luzpaz commented on #6
@EvansMike can you post this on https://forum.freecadweb.org/viewtopic.php?f=8&t=11429&hilit=fasteners please ?

[2019-06-03 13:42] DDMDesign opened #50 "Fasteners/nuts/washers in arrays aren't counted in BOM"
Fasteners/nuts/washers in an array aren't counted in BOM.
Fasteners/nuts/washers in a cloned compound aren't counted in BOM.
The same if fasteners/nuts/washers are converted in a structure (Arch/BIM Workbech).

OS: Windows 10
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 0.18.16110 (Git)
Build type: Release
Branch: (HEAD detached at upstream/releases/FreeCAD-0-18)
Hash: f7dccfaa909

[2019-06-03 16:14] luzpaz commented on #39
Works :+1:

[2019-06-03 16:14] #39 closed

[2019-06-06 14:10] luzpaz commented on #50
Relevant [forum link](https://forum.freecadweb.org/viewtopic.php?f=24&t=36752#p311727) showing the usecase

[2019-08-10 16:02] luzpaz commented on #50
@shaise care to weigh in ?

[2019-08-10 16:03] luzpaz commented on #34
@shaise i think it's ok to close this ticket

[2019-08-10 16:04] luzpaz commented on #42
status on this ?

[2019-08-10 16:06] luzpaz commented on #2
![Dark-Blue stylesheet](https://raw.githubusercontent.com/pgilfernandez/FreeCAD_bolts-and-nuts-holes/master/screenshot.png?raw=true "library")

[2019-08-10 16:21] shaise commented on #2
Yes, I agree it will be a very nice addition. I quite busy at the moment, but I will definitely look into it as soon as I have time.

[2019-08-10 16:22] shaise commented on #34
agreed.

[2019-08-10 16:22] #34 closed

[2019-08-10 16:34] shaise commented on #50
I'm not all that familiar with FreeCad's arrays. Can you attach a simple FreeCad file with array of bolts so I can try and analyze it's structure?

[2019-08-12 22:27] pgilfernandez commented on #2
With the time I have created a [macro with a GUI](https://github.com/pgilfernandez/FreeCAD_Fastener_holes) to make it even easier to create this kind of "holes" with tolerances.
It has not been well coded as I'm not expert but it works for me. The perfect solution would be to integrate this idea into the Fastener Workbench itself, not only because it would be well coded but because the "holes" wou

[2019-09-01 23:35] rebeltaz commented on #22
I, too, would like to see SAE threads available in the threaded rod tool.

[2019-10-22 17:03] luzpaz commented on #15
Adding this can get rid of those 3 pngs and maximize space in the README

[2019-12-10 11:15] luzpaz commented on #50
@DDMDesign please follow up

[2019-12-10 12:01] luzpaz commented on #2
https://github.com/pgilfernandez/FreeCAD_Fastener_holes looks appropriate for Fasteners WB.

[2019-12-10 14:35] DDMDesign commented on #50
Sorry, I lost the message. Here attached a simple array with based of a fastner and the BOM generated with fasteners workbench. As you see the quantity is one but in the array is nine.

Thanks, Marco
[Fastner_Array+BOM.zip](https://github.com/shaise/FreeCAD_FastenersWB/files/3945355/Fastner_Array%2BBOM.zip)

[2019-12-10 14:40] DDMDesign commented on #50
I forgot the FC info. Now I am using 0.19, but it is the same with 0.18 or 0.17...

OS: Windows 10 (10.0)
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 0.19.18516 (Git)
Build type: Release
Branch: master
Hash: 867a09f731926bf75695e8a6f063cbc9c1033b40
Python version: 3.6.8
Qt version: 5.12.1
Coin version: 4.0.0a
OCC version: 7.3.0
Locale: Italian/Italy (it_IT)

[2019-12-10 17:27] gimpox opened #52 "[Feature request] Metric size M3.5 for scres and nuts?"
I love the Fasteners Workbench, unfortunately I'm using M3.5 ISO-7380 screws in my project.
As I can see, there is no way to create such screw. So I'm forced to choose M3 or M4 screws...

The M3.5 size is very common for enthusiast of car/train/plane models, as well as for flying drones.
So it would be nice to have it also for:

- ISO-7380 bolts with flange
- Nuts with and without the nylon lockin

[2019-12-10 18:06] shaise commented on #52
The fasteners workbench is based on the macro Screw_Maker by ulrich1a. It does not support m3.5. I can try and add it to the table, but M3.5 is not within the ISO-7380 standard, hence no measurement info:
https://www.fasteners.eu/standards/ISO/7380/

[2019-12-10 19:49] gimpox commented on #52
As I understand, the ISO standard specify the shape of the thread,that is indicated by the letter "M". The "M"-shape is just one type, there are many other (indicated as "KT", "R", and so on - see http://www.emuge-franken-bg.com/attachments/article/97/15 Gewindetabellen.pdf).
The size of the screws usually saw on the tables are just a "preferred" nominal size. Strictly speaking, there is no theore

[2019-12-10 20:47] shaise commented on #52
I do not need the iso standard of the thread, i need the iso 7380 standard of m3.5 which contains many parameters regarding the head shape.
![iso-7380](https://user-images.githubusercontent.com/5813568/70567601-eb9dee00-1b9e-11ea-9ed8-1ca44157ee39.jpg)

[2019-12-11 10:29] DDMDesign commented on #50
I tried also the App::link of a fastner and BOM of the fastners workbench count only one element.

Here attached the updated file.

Cheers, Marco
[Fastner_Array+BOM.zip](https://github.com/shaise/FreeCAD_FastenersWB/files/3949839/Fastner_Array%2BBOM.zip)

[2019-12-11 12:26] gimpox commented on #52
I will investigate...

[2020-01-09 03:56] gbroques opened #53 "Attach Screw to Hole Programmatically in Python"
I'd like to call `createFastener` after selecting a circular edge to attach a screw to a hole, but I'm getting the following error.

[code]
### Screenshot
![image](https://user-images.githubusercontent.com/12969835/72036600-e8ab2180-3260-11ea-9b39-d1c5e1d1cb24.png)

Based on the stack-trace, the error is coming from the following line of code:
https://github.com/shaise/FreeCAD_FastenersWB/blob/mas

[2020-01-09 05:00] gbroques commented on #53
It appears the code that correctly attaches the screw to an object (via the GUI) is a function called `FSMoveToObject` in `FastenerBase.py`.

I would've expected the GUI and `createFastener` python function to re-use the same "attach to object" logic.

The `createFastener` function calls `moveScrew` in `screw_maker.py` which doesn't seem to properly work.

I might suggest refactoring `createFasten

[2020-01-09 09:39] shaise commented on #53
can you attache the freecad file with the object you want to attach the fastener to? (zipped)

[2020-01-10 00:01] gbroques commented on #53
@shaise Yes.

I've attached [attach-screw-to-hole-python-issue-53.zip](https://github.com/shaise/FreeCAD_FastenersWB/files/4043200/attach-screw-to-hole-python-issue-53.zip) which includes:
1. The freecad file with the object I want to attach the fastener to `8-hole-tubing-cube.FCStd`
2. I've also included the individual object in `8 hole tubing.fcstd`

Thank you for your fast response.

[2020-01-10 00:21] gbroques commented on #53
After changing `Gui` to `FreeCADGui` and uncommenting your print debug statements, I get this in the console:
[code]

The screw's position isn't updated programmatically.

However, manually updating the screws position in the GUI to the calculated position of **[Pos=(-50.8,0,50.8), Yaw-Pitch-Roll=(0,-90,0)]** seems to be correct. (see below image)

![image](https://user-images.githubusercontent.co

[2020-01-11 01:30] gbroques opened #54 "Document createFastener Python API"
It'd be helpful to document the valid types and sizes that can be passed into `createFastener`.

Perhaps under the [Adding Fasteners in Python](https://github.com/shaise/FreeCAD_FastenersWB#adding-fasteners-via-python) section in the **README**.

The below is a work in progress MarkDown table to document the `createFastener` **API**.

|Name|Type|Diameters|
|----|----|---------|
|Screw|ISO4017||
|S

[2020-01-13 03:26] gbroques opened #55 "Install ulrich1a screw_maker Macro as Python Package"
I created an [issue](https://github.com/ulrich1a/screw_maker/issues/4) in @ulrich1a [screw_maker](https://github.com/ulrich1a/screw_maker) repository to publish the package on The Python Package Index (PyPI) so the Fasteners workbench can simply install it rather than maintain a copy-pasted file.

The [FreeCAD Workbench Starter Kit](https://github.com/FreeCAD/Workbench-Starterkit) has some discuss

[2020-01-13 14:52] shaise commented on #53
Ok, I understand now. You are actually using the original 'moveScrew' used by the original screw_maker macro that I adapted into the workbench.
Instead you should do the following:

f = sm.createFastener('ISO4014', 'M24', '120', 'simple', True)
Part.show(f)
You can now move the part into the holw by using the movetoobject function, but you have to supply the selected feature you want to attach to

[2020-01-15 00:15] gbroques commented on #53
Thanks @shaise.

The `Part.show` didn't seem to be necessary.

The following (incomplete) code snippet worked to attach a bolt to a hole, and nut on the other end:
[code]

---

Do you feel it'd be valuable to document `ScrewMaker.FastenerBase.FSMoveToObject` in the **README**?

I'd be happy to submit a **PR** if it's welcomed.

[2020-01-15 05:43] shaise commented on #53
The Part.show IS needed when you add the 'True' at the end of the CreateFastener command. You should use the True option, this way avoiding the 'Gui' issue.
I do not think the command should be documented in the readme as the readme is for workbench users and not programmers.
shai

[2020-01-16 01:43] gbroques commented on #53
Thanks shai. All this makes a lot more sense now.

I'll go ahead and close out this issue.

I appreciate your help and creating this project for the FreeCAD community.

[2020-01-16 01:43] #53 closed

[2020-01-23 19:31] mendip-defender commented on #52
Maybe the DIN 912 standard might fill in some blanks,
https://www.torqbolt.com/din-912-dimensions-standards-specifications/

[2020-01-24 11:37] shaise commented on #52
Not the same head shape, and has no m3.5 standard, regardless.

[2020-02-03 12:55] shaise commented on #15
Done.

[2020-02-03 15:14] shaise commented on #50
sorry for the late reply.
It  should work now, please test.
shai

[2020-02-03 21:25] luzpaz commented on #15
https://github.com/shaise/FreeCAD_FastenersWB/commit/6815235b29bea0a654655fe07d5f886d5053a55b

[2020-02-03 21:25] #15 closed

[2020-02-04 21:03] DDMDesign commented on #50
Hi Shai, Thanks for looking into it...

I tested some cases:

1) One array 3x3 of a bolt M20: BOM work fine and counts 9
2) Double array 3x3 of a bolt M20: BOM counts 81 bolts, but should be 9+9 =18
3) One array 3x3 of a bolt M20 and the link of the array: BOM counts 81 bolts, but should be 9+9 = 18
4) Links of a bolt M20 (the property "Element count" of the link object is set to 10: BOM counts 1

[2020-02-04 21:54] luzpaz commented on #54
not a bad idea

[2020-02-04 21:55] luzpaz commented on #42
bump

[2020-02-05 04:52] shaise commented on #42
Still waiting for @ulrich1a to investigate. Don't actually know why the new OCC complains on the thread generation, and also why it only happens for certain M sizes and not others.

[2020-02-13 21:26] burtbick opened #56 "[Feature Request] 5/8 inch 27 threads per inch"
Would it be possible to add generation for a 5/8 inch diameter with 27 threads per inch?  This is for the US microphone stand thread.

I was looking at trying to do it myself but was hitting some issues with getting the code to build in my configuration.

I thought I'd seen a comment somewhere that this was something that was being looked at, but haven't been able to find it again.

[2020-02-16 09:38] shaise commented on #50
Trying to work on it now.
seems that links are freecad 19 feature, right? I'm using 18 and it is not link aware.

[2020-02-16 14:17] shaise commented on #50
OK, looks like v0.19 links are buggy (specially when making lins on links or array on links)
but the new version I just commited should work on your examples.

[2020-02-16 14:28] shaise commented on #56
The fastener workbench rely on screw_maker macro to generate the bolts. unfortunately screw_maker does not support US standard.

[2020-02-16 21:14] DDMDesign commented on #50
Thanks Shai!!! All the four examples work fine...
I tried also with three arrays 3x3 and BOM counts 27 elements...
Also the example four (with link objects ) works fine and counts 11 elements...
I will try BOM for simple examples with links of more and different fasteners.

Thanks a lot for this release...Great job....It's very useful...
Can I report to other users this new release in this thread?

[2020-02-17 05:04] shaise commented on #50
Yes of course.

On Sun, Feb 16, 2020 at 11:14 PM DDMDesign <notifications@github.com> wrote:

[2020-03-01 15:34] luzpaz opened #58 "Add LGTM badge"
https://lgtm.com/projects/g/shaise/FreeCAD_FastenersWB/?mode=list

[code]

Example: [![Total alerts](https://img.shields.io/lgtm/alerts/g/shaise/FreeCAD_FastenersWB.svg?logo=lgtm&logoWidth=18)](https://lgtm.com/projects/g/shaise/FreeCAD_FastenersWB/alerts/)

[2020-03-01 15:53] luzpaz commented on #58
Also
[code]

Example: [![Language grade: Python](https://img.shields.io/lgtm/grade/python/g/shaise/FreeCAD_FastenersWB.svg?logo=lgtm&logoWidth=18)](https://lgtm.com/projects/g/shaise/FreeCAD_FastenersWB/context:python)

[2020-03-01 17:21] shaise commented on #58
where to add it to?

[2020-03-01 19:06] luzpaz commented on #58
I'll send a PR :wink:

[2020-03-01 20:03] #58 closed

[2020-03-07 07:57] luzpaz commented on #2
Still hoping this happens :crossed_fingers:

[2020-03-07 15:16] luzpaz commented on #33
I started to do this recently

[2020-03-07 16:06] shaise commented on #33
You are definitely my FreeCad Hero!

[2020-03-26 12:09] hpbmo opened #60 "BOM doesn't count correct"
Hi

I like the way, how I can place fasterners. Now I would like to create a BOM for my delta printer.

When I group washers and screws, ect., BOM wil count attached component twice. Please look inthe forum:

https://forum.freecadweb.org/viewtopic.php?f=3&t=44577

Please, can you confirm this behavior?

Thanks

Hanspeter

[2020-04-12 06:39] glabifrons opened #61 "Please increase M3 range to 35mm for ISO4762 screws"
Please extend the length range of the ISO4762 screws to 35mm (currently 30mm). I'm modeling around parts from an extruder kit that uses M3 socket-head cap-screws of that length, so I'm sure they exist. :)

I found the line, I can try and make a pull request if you'd like.
https://github.com/shaise/FreeCAD_FastenersWB/blob/master/screw_maker.py#L1082

Thank you very much for creating this extremely

[2020-04-12 06:58] shaise commented on #61
Hi,
The fasteners workbench is actually based on the screw_maker macro made by @ulrich1a. He made these fasteners based on the written standard (ISO4762) in this case. I know M3x35 exists and also M3x40. But it is not per the written standard, so I'm not sure if he will add them.
shai

[2020-04-12 08:19] easyw commented on #61
@shaise It would be nice to have an option to add 'user' model saved locally

[2020-04-12 08:44] shaise commented on #61
@easyw ,
I thought about that, I think that instead of adding 'user' model which involve table manipulations and savings, just give an option to enter arbitrary fastener length - most cases this is what is missing.

[2020-04-12 18:08] glabifrons commented on #61
I love that idea! I was just trying to make it as easy as possible (1 character change). :)

[2020-04-13 11:06] shaise commented on #61
I have added the option for custom screw lengths.
Please test and let me know if you see any issues. Specially, test if it does not brake old files, saved with prev version of fastemer WB.
Thanks!

[2020-04-14 05:56] hpbmo commented on #61
I can't add any washer or nut.

Report view:

`Running the Python command 'FSISO7089' failed:
Traceback (most recent call last):
  File "C:\Users\Hanspeter Blaser\AppData\Roaming\FreeCAD\Mod\fasteners\FastenersCmd.py", line 244, in Activated
    FSScrewObject(a, self.Type, selObj)
  File "C:\Users\Hanspeter Blaser\AppData\Roaming\FreeCAD\Mod\fasteners\FastenersCmd.py", line 53, in __init__
    sel

[2020-04-14 06:45] shaise commented on #61
I knew i will miss something.... Should be fixed now, please update.
shai

[2020-04-14 07:40] hpbmo commented on #61
Wow, you're realy fast

Nut and washer are ok now, only screw tap has still an error

`Running the Python command 'FSScrewTap' failed:
Traceback (most recent call last):
  File "C:\Users\Hanspeter Blaser\AppData\Roaming\FreeCAD\Mod\fasteners\FastenersCmd.py", line 462, in Activated
    FSScrewRodObject(a, selObj)
  File "C:\Users\Hanspeter Blaser\AppData\Roaming\FreeCAD\Mod\fasteners\FastenersCmd.

[2020-04-14 08:19] shaise commented on #61
oops... sorry about that. Please try now.
I'm trying to respond fast since this is a new feature and I want to make sure I didn't break things that worked before. (which unfortunately I did, as you can see ;)

[2020-04-14 08:56] hpbmo commented on #61
The screw tap is now also ok. But ..... I forget until now to check the BOM generation. I addead one of each element and tried to get a BOM. And it fails.

`Running the Python command 'FSMakeBOM' failed:
Traceback (most recent call last):
  File "C:\Users\Hanspeter Blaser\AppData\Roaming\FreeCAD\Mod\fasteners\FastenerBase.py", line 674, in Activated
    method(obj, cnt)
  File "C:\Users\Hanspeter

[2020-04-14 09:20] shaise commented on #61
Bom + grouping is a problem, I know. see issue #50.
regarding your crash, do you have studs in your model?

[2020-04-14 09:38] shaise commented on #60
As I said, grouping makes issues. Please attach a sample file.

[2020-04-14 10:49] hpbmo commented on #61
I don't have studs in my model. Maybe this little test file will help you
[Test_Fasterners.zip](https://github.com/shaise/FreeCAD_FastenersWB/files/4474504/Test_Fasterners.zip)

[2020-04-14 12:21] shaise commented on #61
and this file crashed when creating a bom?
I know there was a poroblem (i just fixed) with bom and studs. The error you sent clearly state the problem is with "AddStud".
Anyway is this an example of the group problems?

[2020-04-14 12:52] hpbmo commented on #61
This file has crashed, but now, creating BOM starts fine. But you can use this file for the group problem. If you need a file with more screws, nuts, etc. I could add another one. Should I do this in the other issue?

[2020-04-14 13:18] shaise commented on #60
I think I fixed it. please check

[2020-04-14 13:20] shaise commented on #61
should work now for groups. please test

[2020-04-14 22:38] easyw opened #62 "[enhancement] standoff+spacers option"
For electronics assemblies it would be nice to add [standoff & spacers](https://www.we-online.com/catalog/en/SSTIE_STEEL_SPACER_STUD_METRIC_INTERNAL_EXTERNAL/?sq=standoff+spacers&sp=https%3A%2F%2Fwww.we-online.com%2Fweb%2Fen%2Fwuerth_elektronik%2Fsearchpage.php%3Fsearch%3Dstandoff%2Bspacers) like in the linked documentation
![standoff](https://user-images.githubusercontent.com/3032347/79280718-665

[2020-04-15 06:25] hpbmo commented on #60
Great, it counts correct, if the the screws etc. are in groups. Within my 3d printer design I use a lot of parts and groups. There also a lot screws, nuts and washers organised in groups. The fasterners where all placed with an older version expect 3 M4 screws with custom length 50mm. And this 3 screws show now an error:

`FSSCrewObject` object has no attribute `itemText`

The file is big, 13MB. I

[2020-04-15 06:35] shaise commented on #60
when do you get the 'itemText' error? when you create a bom?

[2020-04-15 07:42] hpbmo commented on #60
The screw has an red exclamation mark at the symbol and when point on it there is the message poping up
![2020-04-15 fastener text](https://user-images.githubusercontent.com/62701267/79311182-579db380-7efd-11ea-83da-165bb9d1a62e.jpg)

[2020-04-15 09:26] shaise commented on #60
Hi @hpbmo
I have fixed some issues now that can be related to this bug. You might need to recreate the screw again, since it might be corrupted. please test and tell me
shai.

[2020-04-15 09:43] shaise commented on #62
Good idea. Hope to have time for it soon. A bit busy now with my [LinuxCNC](https://github.com/shaise/GrblCNC) clone now.

[2020-04-15 11:51] easyw commented on #62
@shaise
thanks for having a look.
Spacers and Standoff are available as [CadQuery python scripts](https://github.com/easyw/kicad-3d-models-in-freecad/tree/master/cadquery/FCAD_script_generator/Standoff_FF_MF), but having a python feature in FC as for the screws would be the best.

[2020-04-15 19:00] shaise commented on #62
Done.

[2020-04-15 19:33] hpbmo commented on #60
Hi @shai

I had really to recreate the screw. Also, I had to recreate the washers wich doesn't base on a 'PartDesign Body' or a on 'Part Body'. If the base Object is a 'PartDesign Feature' it brakes the design.
Are the fasteners placed inside a Part, then quantity is still not correct. The washer are counted twice. They had to be placed inside the part, because it's rotated. Otherway they don't fo

[2020-04-15 20:11] easyw commented on #62
@shaise
that was fast! :smile:
Would it be possible to also add spacers (which are a sub case of standoffs)?
[spacers](https://www.we-online.com/catalog/en/SSTII_STEEL_SPACER_STUD_METRIC_INTERNAL_INTERNAL/)
![spacer](https://user-images.githubusercontent.com/3032347/79383720-f52ccd80-7f65-11ea-8eda-e48fd20dc56d.jpg)

[2020-04-15 21:40] shaise commented on #60
Hi @hpbmo
Regarding placing objects under parts, I am sorry, but I am not familiar enough with how this works inside FfeeCAD, so it is hard for me to fix.
shai

[2020-04-16 04:36] shai commented on #60
Hehe... Wrong person mention 😉

[2020-04-16 07:52] shaise commented on #62
Done as well. Only because you are the one who asked....

[2020-04-16 08:52] easyw commented on #62
Thanks a lot!!! Great Tool 😸
I 've found a minor issue (spacer without icon) at this line:
https://github.com/shaise/FreeCAD_FastenersWB/blob/69e5e04e268642e7cc177b746b643469980a5278/PEMInserts.py#L997
should be changed with:
`FastenerBase.FSClassIcons[FSPcbSpacerObject] = 'PCBSpacer.svg'
`
thanks again, this will be very useful for KiCAD integration 😄

[2020-04-16 08:58] shaise commented on #62
ooops... fixed.

[2020-04-16 09:00] easyw commented on #62
thx again 😺

[2020-04-16 09:00] #62 closed

[2020-04-16 09:19] hpbmo commented on #60
Hi @shaise

You did a very good job with fixing the problem with the group, this helps a lot. And maybe you find a way.

My programming skills have remained at basic and turbo pascal some years ago ;-). So I have no idea, how I could help.

Thanks again
hpb

[2020-05-14 10:50] mikereiner opened #63 "Error Step Export with use of Fasteners Workbench"
I want to export my assembly module, but there occures an error. After some checks, i think it depends on the connection of the screw and the hole.
When i insert the screw directly to a hole. After that, i move the screw with drag & drop to my assembly-group (part). Now, i want to export as step-file, but an error occurs.
When i insert the screw without connection and move with drag & drop to the

[2020-05-14 11:28] shaise commented on #63
I have no idea how freeCad  handles connected parts internally. I think you should post your question in the forum: https://forum.freecadweb.org , there you can upload a sample file with the error.

[2020-05-14 12:19] mikereiner commented on #63
okay, thank you for your help!

[2020-05-15 13:22] cram79 opened #64 "[Feature Request] Die to Make external Thread"
Would it be possible to add a 'die' tool/feature that allow the making of a external thread on a existing shaft, also with a selection of thread length?

[2020-05-15 14:16] shaise commented on #64
Interesting idea. I'm rather busy now, but I will add to the "todo" list.

[2020-05-20 08:49] luzpaz commented on #60
I'm confused, the original issue has been fixed ?

[2020-05-20 08:50] luzpaz commented on #55
@gbroques better to open a thread on the forum to discuss this. It will gain more traction than here.

[2020-05-20 08:52] luzpaz commented on #54
Please post this issue to the forum as well + add the URL when you do.

[2020-05-20 08:53] luzpaz commented on #52
@gimpox any progress ?

[2020-05-20 08:55] luzpaz commented on #20
@KOLANICH care to follow up and create a forum thread to discuss this?

[2020-05-20 09:01] luzpaz commented on #2
@shaise
@ulrich1a
Maybe consider an ETA on this feature?

[2020-05-20 19:23] slowinternets commented on #64
OK I gave it a shot:
I added a 'thread-die' object that implements what I think you are looking for. It starts with a hollow pipe and subtracts a length of outer diameter thread, to make an OD thread-cutting tool as requested. When modeled-thread is False, the inner diameter of the pipe becomes the major diameter of its thread size.

While I was at it, I also added a threaded rod object. If are us

[2020-05-21 01:04] gbroques commented on #54
Sure, any suggestions as to where on the forum?

[2020-05-21 10:40] luzpaz commented on #54
@gbroques check out https://github.com/shaise/FreeCAD_FastenersWB#feedback

[2020-05-21 12:11] cram79 commented on #64
Hi Alex, what you describe is what I meant, that looks great, thank you for taking the time.  How can I use what you have done though?  ie I take it at the moment I can't just update the WB through Add-on Manager within FreeCAD.

[2020-05-21 14:37] slowinternets commented on #64
I have added a pull request for the changes. If/when it gets accepted, you will be able to use the new features through the addon manager.

If you are feeling impatient, you can download https://github.com/slowinternets/FreeCAD_FastenersWB as a zip file, and copy its contents into the correct directory.
On windows, it should be C:\user\Appdata\Roaming\FreeCAD\Mod\fasteners
Linux: ~/.FreeCAD/Mod/fe

[2020-05-21 17:17] shaise commented on #64
@slowinternets ,
looks great! i'm on vacation now, I will take a look as soon as i return

[2020-05-21 22:43] gbroques commented on #55
@luzpaz Thanks for steering me in the right direction, as I'm still very new to FreeCAD and the community.

I'll do this for future issues I create on FreeCAD GitHub repositories as it seems to be preferred by FreeCAD developers.

For now, I'm focused on [ose-3d-printer-workbench](https://github.com/gbroques/ose-3d-printer-workbench) and not very interested in putting forth the effort to move this

[2020-05-22 10:15] cram79 commented on #64
@slowinternets ,    Thank you again.

[2020-05-22 12:08] cram79 commented on #64
@slowinternets,   Thought I try and install and give it a spin, its great. But I just realised though when I went to use it that the icon and description don't match the function. ie The 'ScrewTap' tool icon creates a external thread, where a Tap should create a inner thread.       I'm not sure the Tap function is working as expected (with ignoring the icons being dis-orientated) . For instance it

[2020-05-22 17:08] slowinternets commented on #64
I am fairly certain that it works as intended, but I recognize that the logic behind these tools may be a bit unintuitive. I will try to explain more thoroughly:

The best way to think about it is that the screwTap and threadDie tools literally create the objects they are named for. Adding a screwTap object creates an actual thread cutting tap. But because we are working in CAD software and not re

[2020-05-23 02:19] cram79 commented on #64
@ slowinternets ,   Thank you for the explanation I now understand that it is actually creating the 'tool' as such and than need to make a boolean cut to get the desired result. Yes it didn't seem intuitive to me to work that way. I was expecting to select circular edge of a cylinder then select the Die tool and have it 'cut the thread' resulting in a external thread.

[2020-05-25 19:40] slowinternets commented on #64
The new tools have been merged into the main branch, and are now available through the addon manager.

It would certainly be very cool to be able to go directly from a selected edge or face to a threaded part. However, that would be a much larger and more complicated feature to implement. For now, there are other things that I would like to add to the workbench first. If you are happy with the sta

[2020-06-13 16:37] Altair31 commented on #42
@ulrich1a did not make a single commit in a year. Do you have any contact ?

[2020-06-13 17:34] shaise commented on #42
nope!

[2020-06-29 13:27] hpbmo commented on #60
Hi @luzpaz

Sorry for the late response. I was quiet busy the last few weeks and didn't do anything with freecad / fastenersWB.
As far as I remember, the counting works fine if the fasteners are in the root tree or inside a group. As soon as you drag one of them inside a part the counting fails. I try it again in the next few days and post the result

hpb

[2020-06-29 19:28] ulrich1a commented on #42
I am still alive. I have to admit, that I my focus had moved to other things for a long time. I have been working the last days on the issue with the nuts and found a solution. It is a little bit faster but needs still some tuning. I will upload the current status to my github account.

[2020-06-29 20:12] shaise commented on #42
great! good to hear from you!

[2020-06-30 18:37] ulrich1a commented on #52
The right choice of a screw would be ISO 14580. It has a hexalobular socket and (M3.5) as a not recommended size.
Other options: ISO 14583

[2020-06-30 18:42] ulrich1a commented on #42
Added the new code to github: https://github.com/ulrich1a/screw_maker

[2020-06-30 23:34] ferdymercury commented on #64
Very nice tool, thanks so much! I have worked with it and have found a bug when working with more complex examples. I do not know if the bug is from FreeCAD directly, or something in this workbench? See https://forum.freecadweb.org/viewtopic.php?f=3&t=48241&p=412994

[2020-07-01 00:03] ferdymercury commented on #64
Ok apparently, it was due to a 'coplanar issue'.

[2020-07-01 00:05] ferdymercury commented on #56
I would like to upvote this feature request. For example, I need to add a thread M42 x 1.0 mm which is very common in optic lens tubes. It would be nice to be able to specify the pitch in the 'data tab', together with the length.

[2020-07-01 00:13] ferdymercury commented on #56
Related: https://github.com/shaise/FreeCAD_FastenersWB/issues/52
https://github.com/shaise/FreeCAD_FastenersWB/issues/26

Maybe, it would be nice to add just a 'custom screw' option, where the user has to input all data, considering it is not in the standard. So that you do not need to modify the standard data tables every time a user comes up with a new weird screw/bolt.

[2020-07-01 06:57] shaise commented on #42
great! I will take a look and try to merge it.

[2020-07-01 07:52] shaise commented on #42
Should be fixed now. Thank you @ulrich1a !

[2020-07-02 18:32] Ivan-Monahhov opened #67 "Add comments to the size tables"
I am using FreeCad to design a few things for my hobby.  I need some weird threads mostly M9x0.5

I thougth to add these threads myself , but I cannot figure out what which size does in the tables.

[2020-07-05 11:52] luzpaz commented on #42
@shaise FYI, if you add `closes #42` to the git summary it will automatically close this ticket.

[2020-07-05 11:59] shaise commented on #42
Thanks for the tip. However, I think it should be closed by issue owner.

[2020-07-05 14:37] ulrich1a commented on #67
It is P for pitch of the thread. But be aware, that  there is no warranty, that you get a valid solid. The thread creation with the OCCT-cad kernel is a fragile operation.

Ulrich

[2020-07-13 17:23] ferdymercury commented on #56
Alternatively, one could use just the standard equations, so that the thread geometry is calculated on-the-fly:

https://www.fastenerdata.co.uk/media/wysiwyg/screw-threads/fine_pitch_thread.jpg

[2020-07-20 11:03] ferdymercury commented on #67
I created an excel spreadsheet that might help you in this regard to identify what is what. You just need to Specify 9 as diameter and 0.5 as pitch. The rest is auto-calculated.

[ThreadCalculator.ods.zip](https://github.com/shaise/FreeCAD_FastenersWB/files/4947264/ThreadCalculator.ods.zip)

![image](https://user-images.githubusercontent.com/10653970/87930870-ccc9d900-ca56-11ea-903b-92951393a77c.p

[2020-07-27 18:23] sedneck opened #68 "DIN 6912"
Please include the screws DIN-6912.

[2020-07-28 01:49] wolf-skin opened #69 "No Fasteners Workbench show in Workbench"
I use version 0.18 in Windows 10, after install it from Addon Manager, no Fastener show in Workbench.

The programs are stored in "C:\Users\{User Name}\AppData\Roaming\FreeCAD\Mod\fasteners" already.

![image](https://user-images.githubusercontent.com/17585808/88609764-878d5300-d0b7-11ea-9c76-fa2753728fd3.png)

Thanks!

[2020-07-28 04:30] shaise commented on #69
what do you mean? I see it in your picture. line 5.

[2020-07-28 09:03] wolf-skin commented on #69
Sorry mate, my mistake, I overlook it. Thanks!

[2020-07-28 09:03] #69 closed

[2020-07-29 00:31] dendres commented on #50
Thanks for this feature!

Does it work with PathArray?

Steps to reproduce:
 - update 0.19 appimage and all addons and restart
 - new doc
 - add a hex bolt, draw a line
 - select both and click PathArray
 - set count to 20
 - click Generate fasteners bill of material
 - observe Qty = 1

What could be different about PathArray?

[2020-09-01 05:02] TedMarshall opened #71 "Problem with M30 DIN 975 threaded rod"
I created an M30 x 20mm rod. Without threads, it is the proper length. However, when the threads are added, the bottom 2mm are missing. Continuing to test longer lengths, 21mm is correct but 22, 23 and 24mm all truncate at 21mm. 25, 26 and 27mm truncates at 24.5mm (approximate). 28mm is correct. That is the limit of my testing.

I did also try an M30 ISO 4762 Hex Socket Head Cap Screw and it did n

[2020-09-01 05:51] shaise commented on #71
the fasteners workbench is a wrapper over the screwmaker macro, and the thread code is taken from there. I believe the reason for truncation is that because the threaded rod is using an integer multiple of the thread pitch which is 3.5mm hence 21, 24.5 and 28 works correctly, and others truncate. As a workaround you can create a longer thread and using boolean to cut the excess length.

[2020-09-02 23:34] leoheck opened #72 "PCB Metric Standoff"
Hi, I am trying to use the PCB Metric Standoff, but it does not allow me to change settings freely. Only few options on the list.
For instance, I would like to create this one, but the lengths available are 10 mm and 12 mm. The length is a list and not an input field. There is no way to type 11 mm there.

![image](https://user-images.githubusercontent.com/1277920/92047425-74773e00-ed5b-11ea-8456-b

[2020-09-03 11:34] shaise commented on #72
Hi @leoheck ,

I have just added a feature that lets you set custom lengths. Please update, try, and let me know.
Note: If you are loading an old file with standoffs of previous version, you need to recompute them for this setting to appear.

shai

[2020-09-03 12:44] lucaivan opened #73 "Error: unknown dialect"
Hello,

I have just installed the fasteners workbench through the addon manager but when I try to use it gives me an error saying unknown dialect. In report view the following appears:
`unknown dialect`
`Traceback (most recent call last):`
  `File "<string>", line 46, in Initialize`
 ` File "/home/luca-ivan/.FreeCAD/Mod/fasteners/FastenerBase.py", line 30, in <module>`
    `from screw_maker import

[2020-09-03 12:58] shaise commented on #73
I have no linux to test it, can you try it on freecad 0.19?

[2020-09-03 14:44] leoheck commented on #72
Yay! This is nice. I will try it right now @shaise

[2020-09-03 14:52] leoheck commented on #72
It is working just fine but I have another and related question.
The threaded part of this standoff, is 6mm, how do I set that?

I am thinking it is on width. But I can't change the `5` there.
![image](https://user-images.githubusercontent.com/1277920/92131006-d11a3d80-eddb-11ea-8bf5-35fc7a04e403.png)

[2020-09-03 15:13] shaise commented on #72
Sorry, you can't. This is the standard. the width is not related. the width is for M3 standoff. There are several width standards (the hex body thickness)

[2020-09-04 10:56] lucaivan commented on #73
Thanks very much, in freecad 0.19 works perfectly

[2020-09-04 10:56] #73 closed

[2020-09-10 05:31] easyw commented on #72
@shaise I think @leoheck was referring to the length of the screw part of the standoff... some manufacturer have a slightly different length i.e. instead of 6mm, 4mm or 5mm

[2020-09-11 03:57] leoheck commented on #72
Yes, that's right @easyw
Do you think it is possible to add a custom length for that treaded part as well?

[2020-09-11 12:19] shaise commented on #72
Done.

[2020-09-16 17:39] leoheck opened #74 "Self Tapping Screws"
Hello,

I was trying to find these self-tapping screws that work really well with plastics.
For instance, size M2.6 that I need to use with a pointy tip.

![image](https://user-images.githubusercontent.com/1277920/93372544-67158580-f82a-11ea-9a2c-9878061496f1.png)

My reference is here.
https://www.amazon.com/Tapping-400Pcs-Screws-Assortment-Plastic/dp/B07VQZXGH2

Can you tell me if we have this i

[2020-09-21 19:35] #72 closed

[2020-09-21 19:36] leoheck commented on #74
@shaise do you know anything about these self-tapping screws or at least if it is possible to use M2.6 somewhere?

[2020-09-21 20:36] shaise commented on #74
Sorry, but no self tapping screws yet. The fasteners WB is based on the screw-maker macro, and it does not have it either.

[2020-09-21 22:43] leoheck commented on #74
Thanks for letting me know. Where I can find this screw-maker macro. Is it possible to ask this as a feature request there? Or even better, offer any kind of help there?

[2020-09-22 12:41] shaise commented on #74
https://github.com/ulrich1a/screw_maker. not sure how active it is.

[2020-09-22 13:48] leoheck commented on #74
The project has a couple of years but the latest update was 3 months ago. It looks that is not forgotten. I am going to make a request there. Lets see.

[2020-10-09 04:27] johnliu55tw opened #75 "M10 screws with "fine" pitch instead of "coarse"?"
Hi, can I switch the pitch of M10 screws to "fine" (1.0mm)? Seems like the default is "coarse" (1.5mm).

[2020-10-17 08:59] morfeus2 opened #77 "Error in FreeCAD 0.18~pre1+dfsg1-5 (Debian stable)"
First of all thanks for the great job: it would be impossible to work with a CAD that misses some kind of fasteners generator utility.
I just tried to upgrade from an old versione of the WB, since now I need PCB spacers and standoffs: the present master version fails to initialize, when I first select the WB.

I am no expert in git, but I tried to fine more details, by getting different versions b

[2020-10-17 10:33] shaise commented on #77
for the error message please try freecad 0.19 latest build.
The latest version of fasteners do have custom lengths of pcb standoffs (but not pem standoffs)

[2020-10-18 09:06] berberic2 opened #78 "Can’t generate ISO 14583 M4×10"
M4 × 10 does not work.
M3 × 10, M5 × 10, M4 × 8 and M4 × 12 work

Traceback (most recent call last):
  File "…/.FreeCAD/Mod/fasteners/FastenersCmd.py", line 160, in execute
    s = screwMaker.createFastener(fp.type, d, l, threadType, True)
  File "…/.FreeCAD/Mod/fasteners/ScrewMaker.py", line 337, in createFastener
    return self.createScrew(type, diam, len, threadType, shapeOnly)
  File "…/.Free

[2020-10-18 09:58] shaise commented on #78
You are right! should be fixed now.

[2020-10-18 19:32] berberic2 commented on #78
Works now.
Thanks

[2020-10-18 21:30] luzpaz commented on #67
@Ivan-Monahhov any progress on this?

[2020-11-05 12:18] ferdymercury commented on #75
Not yet, though there are several feature requests to have more flexible selection of threads. https://github.com/shaise/FreeCAD_FastenersWB/issues/67

[2020-11-05 15:50] ferdymercury commented on #67
In the meanwhile, I created a FreeCAD file that allows you to specify in a spreadsheet a custom diameter, pitch and number of turns and it creates a female thread, using an Helix and a sketch / Frente additive pipes.

To change it to a male instead of female thread, you might need to swap the sketch lines that are construction and normal lines.

![image](https://user-images.githubusercontent.com/1

[2020-11-06 10:41] ferdymercury commented on #67
Fixed version here. [ThreadCalculator.FCStd.zip](https://github.com/shaise/FreeCAD_FastenersWB/files/5500757/ThreadCalculator.FCStd.zip)

Thread, pitch and height are specified in the Spreadsheet. The rest is automatic.

![image](https://user-images.githubusercontent.com/10653970/98356633-e08f5000-1ff1-11eb-9fac-13ef4544cf6a.png)

![image](https://user-images.githubusercontent.com/10653970/9835656

[2020-11-06 11:23] ferdymercury commented on #67
Here the equivalent FC file for custom male threads

[ThreadCalculator_Male.FCStd.zip](https://github.com/shaise/FreeCAD_FastenersWB/files/5500962/ThreadCalculator_Male.FCStd.zip)

![image](https://user-images.githubusercontent.com/10653970/98360815-834acd00-1ff8-11eb-9bc9-a0c5dd13ee9c.png)

[2020-11-27 23:49] leoheck opened #79 "Minor issue with screws that have custom lenght more than 50mm"
Super minor issue.
I am creating a screw with custom length and it is more than 50mm (74mm to be precise)
And it is showing this line in the middle.
![image](https://user-images.githubusercontent.com/1277920/100489230-d55fa980-30f1-11eb-9e2e-eeb8859211fd.png)

[2020-11-28 07:19] shaise commented on #79
Yes, For long screws, usually the part below the line represents the "threaded" part, and the top is the "smooth" part.

[2021-01-05 15:42] jf1452 opened #80 "Scale thread for 3D printing does not seem to work."
I have played with the scaling option for threads for 3D printing, but no setting seems to change the 3D printed size.
![image](https://user-images.githubusercontent.com/2996505/103666471-faf39480-4f74-11eb-8e44-3d2a8e1de955.png)

On the whole, this is an excellent workbench; thank you for creating it.

[2021-01-05 16:15] shaise commented on #80
you need to mark the object for recalculation then press the recalculate button for the settings to take effect

[2021-01-05 19:03] jf1452 commented on #80
Thank you @shaise ; yes that has fixed it; thank you for your answer

[2021-01-05 19:03] #80 closed

[2021-01-15 13:41] Asgaurd36899863 opened #82 "When I try to open the fastenersWB I get a error [ workbench faliure: unknown dialect ]"
Why is it so,
Please check & reply.

[2021-01-15 14:09] Asgaurd36899863 commented on #73
Hey! from where & how did you install freecad 0.19?

[2021-01-16 06:53] Asgaurd36899863 commented on #82
And yes,
I saw the same issue in the closed issues,
In that your reply was to try it in freecad 0.19,
so from where and how to download this version of freecad,

[2021-01-18 07:08] shaise commented on #82
https://github.com/FreeCAD/FreeCAD/releases/tag/0.19_pre

[2021-01-19 06:31] Asgaurd36899863 commented on #82
In the following link,
https://github.com/FreeCAD/FreeCAD/releases/tag/0.19_pre,
The following para,
_**Windows
Binary developer builds (no compiling necessary) are available. Download the highest revision of the .7z

The builds are portable and do not require an installation. ### Extract the file using 7zip and start the application by double clicking on FreeCAD.exe in the bin sub-directory of th

[2021-01-19 06:47] shaise commented on #82
you can extract it anywhere.
just create a folder under "Documents" called Freecad and extract it there. then go to the bin folder and double click on freecad.exe

[2021-01-19 23:29] GitHub-NuB opened #83 "Threaded nut issue"
I hope this is the right place to post this question, it is my first GitHub post...

I am trying render some nuts for 3D printing. I just upgraded to FreeCAD 0.19 and the latest FastenersWB. I noticed that when I render the threads there are now artifacts in the model.  I just figured out how to manually install workbenches and download/apply old versions of the workbench through GitHub. It appear

[2021-01-20 03:19] pandaero commented on #26
I would like to re-visit this feature request, it would be very useful for 3D-printing unusually large diameter-pitch combinations that are more printable than fine pitches/threads e.g. M20x5 (pitch) x 60 (length), maybe even adding custom thread angle? I will try to parameterise a generic thread in the meantime

[2021-01-20 06:40] shaise commented on #83
Hi,

The best place for such questions is the freecad forum: https://forum.freecadweb.org
Please write all the info you wrote here and attach the freecad file that demonstrate the issue.

shai

[2021-01-20 13:45] GitHub-NuB commented on #83
Thank you for the response. I will try my luck there. Thank you for your efforts on this workbench development!

[2021-01-21 00:56] GitHub-NuB commented on #83
FYI, just wanted to follow up on this in case anyone else experiences this bug. After a good deal of trial and error, I think I narrowed down the issue. It appears to be related to the 'Nut Scaling' option in the Fasteners toolbench preferences. I was testing with a M10 nut. If I recompute using a 'Scale B' value of 0.360, there is no artifact (and the part passes the geometry check) , if I change

[2021-01-21 06:43] shaise commented on #83
Hi,

Working with scales that high can indeed cause issues. The underlying geometry engine is not very stable when it comes to helix geometry. The b scale should not be that high. Try getting your initial scale with scale A (a multiplier) then use a smaller scale b.

shai

[2021-01-21 13:55] GitHub-NuB commented on #83
I appreciate the feedback. Now that I know what is causing the issue I can definitely start to work around it.   Regards.

[2021-01-21 13:55] #83 closed

[2021-02-09 17:00] sslupsky opened #86 "Feature Request: Add support for PG threads"
It might be useful to add support for PG (Panzergewinde) threads.  These threads a commonly used in cable glands.

[2021-02-09 18:53] sslupsky commented on #86
So I saw PR #70 that introduced the csv files.  Is this request as simple as creating the spreadsheets?  Is any additional code required to support new threads?

[2021-02-09 22:16] shaise commented on #86
Threads are extremely difficult without issues. In fact the threads are based on the original macro written by Ulrich, and no one touched it since.

[2021-02-10 14:56] sslupsky commented on #86
Doesn't Ulrich's macro have parameters to specify the attributes for an arbitrary thread?  Looking at PR #70, it appears that the csv's provide the parameters to render a thread according to Ulrich's macro?  Or, am I mistaken about that?

[2021-02-10 15:49] shaise commented on #86
The CSV is only done to separate the fasteners parameters from the main screw_maker code. It supports both metric and imperial threads since the cross-section of the thread is the same, just the dimensions are a bit different. If the  PG threads have same cross section, then it might be used for them as well, otherwise a special code will be needed to generate them.

[2021-02-10 16:45] sslupsky commented on #86
Hmmm, I see.  Is there any documentation regarding what the parameters are?  I see:
[code]
I have determined:
"Dia" is the "size" of the thread.
"P" is the pitch

What do the other parameters refer to?

I also found a list of different parameters such as:
[code]

and
[code]

[2021-02-10 16:48] sslupsky commented on #86
PG threads have a different thread angle (80 degrees) versus UTS or Metric (which have a 60 degree thread angle).

[2021-02-10 16:53] shaise commented on #86
each fastener has its own parameters, based on its shape. some parameters have same meanings some don't.

[2021-02-10 16:58] sslupsky commented on #86
Ok, thanks for the info.  I think I am seeing the picture now.  The macro is intended to be a very specific tool to generate a very specific type of thread.  Over time, specific thread types were added for specific needs.  Kind of a brute force approach.

I think you are quite correct in your assessment, it would be very tricky to do anything with Ulrich's macro.  Probably needs to be completely r

[2021-02-10 16:58] #86 closed

[2021-02-18 23:08] luzpaz opened #87 "Translate Fasteners WB"
https://wiki.freecadweb.org/Translating_an_external_workbench

[2021-03-08 11:59] bambukouk opened #88 "Additional feature request: extend range - add small metric thread and add ME (Model Engineering imperial) threads"
1) I would like to add metric threads smaller than M1.6 currently available in the workbench in model making, watchmaking, small instrument etc (non-standard/smaller hexagon heads, etc)
Examples of fasteners in use:
https://ghw-modellbau.de/index.php?cPath=4_5_7_102&language=de
or even smaller:
https://ghw-modellbau.de/index.php?cPath=4_5_7_103

2)I would like to add  "threaded rod for tapping hol

[2021-03-15 15:10] esopalumpa opened #89 "DIN EN ISO 10642 added M2 and M2.5"
If this site is right, M2 and M2.5 has been added to ISO 10642:
[code]
https://shop.dresselhaus.de/de/62-Normen%C3%BCbersicht/inh_id,272,DIN-7991-%3E-DIN-EN-ISO-10642.html

Disclaimer: I have no access to the norm.

[2021-03-19 10:27] nadarbreicq opened #90 "FastenersWB on linked part - External object not supported"
Hi,

When I try to use FastenersWB on the edge of a linked part, I get an error : `PropertyLinkSub does not support external object`

The complete error on the report is the following :

[code]

Does fastenerWB support link part ? Thank you in advance.

[code]

[2021-03-20 14:33] shaise commented on #90
Never tried on linked objects, so it indeed might not support it

[2021-03-24 09:00] boomanaiden154 commented on #90
I can confirm that this is an issue with external linked parts, assuming that I have everything set up correctly. This is a fairly big part of working with assemblies in Assembly4, so if a fix is possible, it would be quite helpful to many trying to use fasteners in multi-file Assembly4 Models. Is there any possible fix/possible plan?

[2021-03-25 03:07] boomanaiden154 commented on #90
A pretty simple fix seems to just be to change over from using `PropertyLinkSub` to `PropertyXLinkSub` on line 40 of `FastenerBase.py`, and this solves issues with external files, but it doesn't position the parts properly, at least in Assembly 4, due to the local coordinate systems that are used for the positioning of parts.

[2021-03-31 01:16] luzpaz commented on #82
@Asgaurd36899863 ping

[2021-03-31 01:17] luzpaz commented on #54
@gbroques did this get any traction?

[2021-03-31 01:19] luzpaz commented on #68
@Berberic2 perhaps you'd be willing to addt this as well ?

[2021-03-31 01:21] luzpaz commented on #64
What's left regarding the FR ?

[2021-03-31 02:26] gbroques commented on #54
@luzpaz No, I never bothered with providing feedback on the forum.

It seems like this workbench is more geared towards GUI users, and not meant to be use programmatically as a Python module by other workbenches or Python code.

[2021-03-31 20:18] #78 closed

[2021-03-31 21:21] luzpaz commented on #33
![image](https://user-images.githubusercontent.com/4140247/113212928-6e8c0180-9245-11eb-822b-27cb9a70ace9.png)

Created placeholder pages for all but 2 pages mentioned in the Fasteners Workbench wiki page

[2021-03-31 21:53] luzpaz commented on #33
correction: placeholder now exist for all pages

[2021-04-01 06:02] shaise commented on #33
Thanks!!!!
Added a link to the wiki in readme.md

[2021-04-01 22:20] ferdymercury commented on #56
See also https://github.com/shaise/FreeCAD_FastenersWB/issues/67#issuecomment-723028691

[2021-04-01 22:21] ferdymercury commented on #26
@pandaero this parameterized freecad file might help you:
https://github.com/shaise/FreeCAD_FastenersWB/issues/67#issuecomment-723028691

[2021-04-03 22:37] luzpaz commented on #68
@sedneck care to test ?

[2021-04-03 22:39] luzpaz commented on #77
@morfeus2 ping

[2021-04-05 11:42] luzpaz commented on #68
Thanks berberic2!

@shaise please close ticket + Do you mind updating the wiki (https://wiki.freecadweb.org/Fasteners_Workbench#Fasteners_Screws) ?

[2021-04-05 13:29] shaise commented on #68
I have no wiki account/permission.

[2021-04-05 13:57] luzpaz commented on #68
@shaise no worries. I added it. Ticket can be closed

[2021-04-05 14:31] shaise commented on #68
perhaps I should have wiki permissions, in case I want to edit/fix my wb related things

[2021-04-05 18:31] luzpaz commented on #68
https://forum.freecadweb.org/viewtopic.php?f=21&t=6830

[2021-04-08 13:49] branilson opened #93 "Error messages when add a PCB metric standoff"
Hello,

I am getting the messages below when added PCB metric standoffs into an assembly in FreeCAD 0.19.

[code]

[2021-04-09 21:18] shaise commented on #93
can you give a list of steps to reproduce this issue?

[2021-04-10 21:21] branilson commented on #93
When using A2plus, just adding a PCB Standoff to the assembly that the message appears in the report view box. The file gets corrupted itself if saved with a standoff inserted. We can see it when importing this file as a subassembly in another a2p assembly. Some parts don't show up due to file corruption caused by the presence of the standoff.

If we try to add the same standoff to a part file, we

[2021-04-11 17:04] muenznej commented on #67
that was pretty helpful, thank you. I hope it will be merged/added soon, its definitely not as exotic for hobbiest than one would think.

[2021-04-14 08:55] shaise commented on #93
Hi @branilson
Thank you, It should be fixed now. Please test

[2021-04-16 18:03] branilson commented on #93
Hello @shaise

Sorry for the delayed response. I wanted to do a detailed test before answer you.

Yes, the error messages are gone. But, persists the issue about the corruption of A2plus subassembly files when a PCB standoff is present. I tried the same with other fasteners besides PCB standoffs and confirmed this issue only happens with this component present.

For your better understanding, I ma

[2021-04-28 20:34] Gspohu commented on #89
I can confirm there has been added in the ISO 10642:2019.
[https://www.iso.org/standard/72578.html](https://www.iso.org/standard/72578.html)

[2021-05-04 08:01] DRubioG opened #94 "Please, add an option for insert a nut at the end of the screw"
When you have to insert many scrws with a nut you mark all the holes for one side and for the nuts you have to mark the other side of the holes. It will be a good option to have the posibilitie to put at the end of the screw(s) a nut(s) with an offset to move along the screw(s).

Because when you have for example 20 holes with screw it's really hard to mark 20 holes(for the other side) again to in

[2021-05-17 21:27] diniciacci commented on #89
I have access to the norm, if someone writes somewhere a small guide on how to add sizes to iso10642def.csv i can do a pull request for it. I had a look but the numbers are unclear to me (also because I am mostly a coder).

[2021-06-15 22:20] EvilGremlin commented on #75
Second that, custom thread pitch is essential feature that should've been there from the very beginning... I love Fasteners, but absence of custom pitch is killing me every time :(

[2021-06-23 10:32] luzpaz commented on #68
@shaise please close ticket. thanks

[2021-06-23 10:34] luzpaz commented on #89
@diniciacci  You can follow the changes that were made in  https://github.com/shaise/FreeCAD_FastenersWB/pull/91/files

[2021-06-23 10:39] luzpaz opened #95 "Request: README instructions how to add fasteners to this WB"
It would be beneficial to have some guidance for those who have the ability and the want to add fasteners to this WB on how to do so.

ref: @diniciacci in https://github.com/shaise/FreeCAD_FastenersWB/issues/89#issuecomment-842652885

Edit: [forum thread request](https://forum.freecadweb.org/viewtopic.php?f=8&t=11429&p=511989#p511989)

[2021-06-23 10:40] luzpaz commented on #94
@DRubioG can you x-post to the Fasteners [forum thread](https://forum.freecadweb.org/viewforum.php?f=8&sid=853eff68d2a09bfd39fb3508d038af97) please? thanks!

[2021-06-23 11:21] shaise commented on #68
closed.

[2021-06-23 11:21] #68 closed

[2021-06-23 14:18] bambukouk commented on #95
see also #88

[2021-06-23 16:30] luzpaz commented on #88
Hi @bambukouk do you mind x-post to the forum please ? TIA!

[2021-06-23 16:51] bambukouk commented on #88
already there:
https://forum.freecadweb.org/viewtopic.php?f=3&t=56106
and
https://forum.freecadweb.org/viewtopic.php?f=8&t=11429&start=10#p501174

I have managed some additions, but run up against my lack of understanding of the workbench to make more additions,
hence my support for #95

[2021-07-02 13:45] luzpaz commented on #77
recommend closing ticket

[2021-07-02 13:46] luzpaz commented on #42
bump @TreidenX

[2021-07-04 10:21] shaise commented on #77
closed due to inactivity

[2021-07-04 10:21] #77 closed

[2021-07-09 02:47] leoheck opened #96 "Custom offset issue"
Hi. Last time I asked this custom length screws. This was an awesome update.
Now I came here since this still has a small issue.
It is not extending right. It adds this line in the middle, and if I add threads on it, it will add the thread only in the last section as shown
![image](https://user-images.githubusercontent.com/1277920/125015709-6ca4bc00-e046-11eb-9f86-a330ec331f6c.png)
![image](https:

[2021-07-09 02:49] leoheck commented on #96
Oh, I have reported this in the past. https://github.com/shaise/FreeCAD_FastenersWB/issues/79
It looks like the issue was not understood completely.

For instance. How do I generate a 7cm long screw with thread along with the whole length?

[2021-07-09 02:53] #96 closed

[2021-07-09 02:53] #79 closed

[2021-08-06 20:30] cfunseth commented on #90
I just made this change while using FreeCAD v0.19 and it also works while properly positioning the fasteners on the linked objects.  I don't use Assembly 4 but this fix at least takes care of the issue for my simple case.

[2021-08-11 18:07] cfunseth commented on #64
@alexneufeld Wonderful addition to the workbench, thank you!

Would it be difficult to add imperial sizes for the tap and die tools?  I'm not familiar with how plugins are written but I'll jump in if someone here isn't able to figure it out easily.

[2021-08-12 18:10] alexneufeld commented on #64
Yeah, I could do that. Busy at the moment, give me a few days to throw a PR together

[2021-08-12 18:25] ferdymercury commented on #88
See also https://github.com/shaise/FreeCAD_FastenersWB/issues/67, including a FreeCAD file where one can create threads of custom diameter / pitches, just by editing spreadsheet parameters.

[2021-09-12 07:48] Gesiima opened #101 "Tool for tapping holes and external threads not scaling"
The tools

-Arbitrary length threaded rod for tapping holes (metric).
-Arbitrary length threaded rod for tapping holes (inch).
-Arbitrary length threaded tube for cutting external threads (metric).
-Arbitrary length threaded tube for cutting external threads (inch).

are not effected in resizing when in settings optimized for 3D printing is enabled.
So inner and outer threads needs be scale manual

[2021-09-28 20:15] xoviat opened #102 "Insert fastener command doesn't work when diameter is changed #242"
If both the 'fastener' type and 'diameter' is changed, then the insert fastener command fails.

[code]

This may be a fasteners workbench issue? See Zolko-123/FreeCAD_Assembly4#242.

[2021-10-20 14:46] GhostJumper opened #103 "Creating a 1/4" screw is impossible"
When enabling the thread on a 1/4" screw, I get this message

[code]

![Capture](https://user-images.githubusercontent.com/34964243/138116011-a1831165-3d97-4e76-a155-eb5b6af01270.PNG)

OpenCAD Version: 0.19 64-Bit

[2021-10-21 22:23] karliss commented on #60
Just got one more similar case of overcounting, in my case it was due to subShapeBinder.  Adding one more case checking for `parent.TypeId != 'PartDesign::SubShapeBinder'` seemed to help.

[2021-11-06 22:40] egasco opened #107 "Having issues installing Add-on due to missing gif in repo"
AddonManager: Debug: Error retrieving image from https://github.com/shaise/FreeCAD_FastenersWB/raw/master/Icons/FastenersScreencast.gif

Using FreeCad: ./FreeCAD_weekly-builds-26155-Linux-Conda_glibc2.12-x86_64.AppImage

[2021-11-07 05:42] shaise commented on #107
Thanks for the catch, should be ok now. Please test again.

[2021-11-11 21:35] zionlion77 commented on #101
I can confirm this issue.
I thought the proper workflow for creating inner threads in bodies would be to use the thread tapping tool in combination with a boolean cut. Yet, this tool doesn't scale with the settings under the Fasteners preferences, making it impossible to get a fine-tuned fit of outer and inner thread.

[2021-11-13 08:56] shaise commented on #101
This issue was fixed by @alexneufeld, please test.

[2021-11-13 09:00] shaise commented on #89
Added by @alexneufeld.

[2021-11-13 10:56] zionlion77 commented on #101
I tested the changed version and it works like charm. Thanks a lot!

[2021-11-14 23:21] egasco commented on #107
I was able to install! Thanks!

[2021-11-14 23:21] #107 closed

[2021-11-15 00:55] luzpaz commented on #95
Closed by #99
Thanks @alexneufeld!

[2021-11-15 00:55] #95 closed

[2021-11-18 14:51] marvin-klein opened #114 "Need help implementing JCIS screws"
I want to implement JCIS (Japanese Camera Industry Standard) screws. The standards are found here: [here](https://www.cipa.jp/e/std/std-sec.html) (bottom of the page under CIPA AD-001 to -003). The threads are metric (although it uses 1.4, 1.7, 2.0, 2.3 and 2.6 nominal diameters).
I followed the contributing guidelines as far as I could, meaning writing the tables and entries into the various .py

[2021-12-11 07:13] oldninja commented on #22
Any plans to support US standards, UNC/UNF threads? @shaise

[2021-12-29 17:55] balogh-attila opened #115 "Custom ScrewDie with sm3DPrintMode error"
I have got an error "local variable 'dia' referenced before assignment" on the line below, when I try to make a ScrewDie with 3D compatibility mode, and custom thread:
https://github.com/shaise/FreeCAD_FastenersWB/blob/6b86b4bb74cdaf3929bc755d07b7d2c70485814f/screw_maker.py#L3834

I think the code correctly:
[code]

[2021-12-29 18:40] shaise commented on #115
you are right! and same for line 3873. Fixed now, Thanks!

[2021-12-29 18:57] #115 closed

[2021-12-30 10:58] niubii opened #116 "Self locking counter nuts "Palnuts" (r) - UNI 8835 / DIN 7967"
Hi all,
Please is it possible to add this new element to the library?

Self locking counter nuts AKA "Palnuts" (r)

UNI 8835
DIN 7967
Material: Spring steel C70

Please refer to:
https://www.bossard.com/eshop/global-en/securing-and-anti-loosening-elements/locking-nuts/metallic-locking-nut/palnut/p/65122/?category=&index=1&q=palnut%3Arelevance
for all details.

Thank you.
/niubii/

[2022-01-08 10:18] mfraser opened #117 "Add support for rivets"
Is it possible to add support for solid rivets such as NAS1097 & MS20426?

[2022-01-10 04:39] Thamone opened #118 "ScrewTap cannot set to custom."
I tried to use ScrewTap but I can only choose from the list(M1.6-M64). If I select Custom from dropdown menu, I will got error message
[code]
I did manual install but it's still cannot use.

OS: Manjaro Linux (GNOME/gnome)
Word size of OS: 64-bit
Word size of FreeCAD: 64-bit
Version: 0.19.24366 (Git) AppImage
Build type: Release
Branch: (HEAD detached at 0f9259c)
Hash: 0f9259cda103ae1824ac16c68ac9

[2022-01-10 07:18] shaise commented on #118
Good catch!
Fixed now. Please update.

[2022-01-13 13:05] Thamone commented on #118
Thank you for your support and great Tools.

[2022-01-18 16:04] liyoucaili commented on #82
我在0.17版本freecad中也遇到这个问题，如何解决

[2022-01-19 04:38] #82 closed

[2022-01-23 22:09] berberic2 opened #119 "thread “jump”"
If the thread is generated on a ScrewTap the tab jumps one pitch.
see: https://forum.freecadweb.org/viewtopic.php?f=13&t=64897
there is an example in the third posting

[2022-01-24 10:47] shaise commented on #119
Actually the threaded version was in the correct position, but the non threaded "jumped" up.
Should be fixed now. please test.

[2022-01-24 20:38] berberic2 commented on #119
Works. Thanks

[2022-01-27 00:04] johnny-bui opened #120 "New item"
How can I create a new kind of fastener? I want to create a button to make wood pins. They are used in wood working to join wood plate.

[2022-02-02 13:35] luzpaz commented on #120
@shaise do we have documentation for this somewhere?

[2022-02-02 13:35] luzpaz commented on #94
@DRubioG ping

[2022-02-02 13:36] luzpaz commented on #64
Can we close this ticket?

[2022-02-02 13:37] luzpaz commented on #63
@mikereiner did you ask? Can you x-post to here the URL of the forum thread?

[2022-02-02 14:07] shaise commented on #120
I seem to recall that one of the WB contributors wrote something, but I can not seem to find it.
Also, everything is based on the original screw_maker by ulrich1a and it is not trivial to extend.

[2022-02-07 02:56] luzpaz commented on #60
@shaise :point_up:

[2022-02-07 02:58] luzpaz commented on #114
anyone want to jump in on this?

[2022-02-09 15:11] Spiralis opened #124 "Unable to open fasteners after latest update"
I think this is for V0.3.37, but since I am not able to start the module it is hard to know. I am running on Windows 10.

When I start FreeCAD both v19.3 (stable) and the realthunder (stable) versions behave the same,

When I go to the add-on-manager and try to load the Fasteners workbench I get this error:

![image](https://user-images.githubusercontent.com/64342/153216029-fb4138f6-0033-4784-816b

[2022-02-09 15:32] shaise commented on #124
you are right. probably something wrong with the last pull request. looking into it

[2022-02-09 21:47] Spiralis commented on #124
Confirmed!
Great , thx :)

[2022-02-09 21:47] #124 closed

[2022-02-09 23:10] Spiralis opened #126 "3D printer compatibility calculations"
I was just doing a test with custom tap and die just now.

For "standard" thread generation I guess it is ok (tight tolerance it seems, but that might be ok).

For "3d printer compatible" it has some settings that can be applied.

I am wondering if the defaults are any good, actually:

![image](https://user-images.githubusercontent.com/64342/153296198-28b58bde-b9d4-4fbf-90ed-22795f75ee9e.png)

If

[2022-02-10 07:46] shaise commented on #126
Hi,

Thanks for this elaborate report. I think it should be shared in the freecad forum, so others may contribute from their experience.
In theory, yes, no need for the 'A' value as we want a fix gap. However, it is not only compensating for over/under extrusion, it is also compensating for plastic shrinkage after cool down.
Furthermore, there are no 'good' default values as it depends on the prin

[2022-02-10 10:04] Spiralis commented on #126
Ah. I didn't think about shrinkage :)

But, for a case when I print two parts in 3D (screw and nut), they will both shrink with the same percentage.  If the nut is (considerably) larger than the screw, then of course this is not necessarily true.

Shrinkage is also something that should then lead to both nut and screw needing to be enlarged, right? Like, the part is always printed i.e. 0,5% smalle

[2022-02-10 10:12] shaise commented on #126
Your guess is as good as mine.
For 3d printing I can tell you the tolerances varies widely between different printers and different filaments

[2022-02-13 20:25] luzpaz opened #127 "Update to new AddonManager metadata schema"
https://github.com/FreeCAD/FreeCAD-addons/issues/200

Please work on this so we can get the changes synced correctly. Thanks!

[2022-02-15 09:09] shaise commented on #127
Added Package.xml

[2022-02-15 12:27] #127 closed

[2022-03-22 11:43] ToniTen opened #131 "Fasterners duplicate on STEP files when placing them on a face"
Crossposted from [the forum](https://forum.freecadweb.org/viewtopic.php?p=582079#p582079)

On imported STEPs, cylinders are split into two half-cylinders, and that seems to confuse this function and it ends up with duplicate fasteners. Take this example for a duct flange, that should normally be secured with 30 bolts. If you select the face and try to automatically place the bolts, you end up with

[2022-03-23 11:37] luzpaz commented on #120
@johnny-bui see https://github.com/shaise/FreeCAD_FastenersWB/blob/master/CONTRIBUTING.md

@shaise can be closed

[2022-03-23 11:43] luzpaz commented on #102
@xoviat can you discuss this on the forum. It gets a lot more traffic/eyeballs than the Fastener issue queue. See https://forum.freecadweb.org/viewtopic.php?f=8&t=11429

[2022-03-23 11:48] luzpaz commented on #114
@marvin-klein I mentioned this FR on the [dedicated Fasteners thread](https://forum.freecadweb.org/viewtopic.php?p=582337#p582337)

BTW, have you looked at https://github.com/shaise/FreeCAD_FastenersWB/blob/master/CONTRIBUTING.md ?

[2022-03-23 11:52] shaise commented on #120
closing.

[2022-03-23 11:52] #120 closed

[2022-03-27 10:40] luzpaz commented on #55
@ulrich1a is unresponsive. maybe it's time to just consider this WB a legit fork and start refactoring it because screw_maker macro is enormous and would really benefit from it?

[2022-03-27 10:50] luzpaz commented on #117
Forum thread discussion: https://forum.freecadweb.org/viewtopic.php?f=8&t=67503

[2022-03-27 10:52] luzpaz commented on #101
Closed by fc0763e (thanks @alexneufeld !)

[2022-03-27 10:52] #101 closed

[2022-03-27 11:03] luzpaz commented on #89
Closed by 5b7e17d (thanks @alexneufeld!)

[2022-03-27 11:03] #89 closed

[2022-03-29 22:11] gbroques commented on #55
That makes sense to me.

I'll go ahead and close this issue.

[2022-03-30 00:22] luzpaz commented on #55
Disagree, should keep this open since this a legit feature request

[2022-03-30 05:15] shaise commented on #55
the WB version is far from being a copy-pasted version. It was too specific to be used as a general library, so there are lots of changes. Each time the macro was updated I had to manually apply all the changes. Right now it is so different, that this method is no longer possible at all.

[2022-03-30 13:30] luzpaz commented on #55
I wish @ulrich1a would be inspired to hack on this workbench

[2022-03-30 13:50] shaise commented on #55
Well, he is marked as a collaborator...

[2022-03-31 23:26] gbroques commented on #55
Thanks shaise, that helps clarify things.

@luzpaz @shaise Should we close this issue then?

[2022-04-27 12:36] hpbmo opened #134 "Adding countersunk washer"
I created the needed files for countersunk washer according NFE27-619.

https://www.bossard.com/eshop/ch-de/scheiben/scheiben-fuer-senkschrauben/scheiben-gedreht-fuer-senkschrauben-90/p/80077/?category=01.100.300.50&index=6&q=%3Arelevance

My github knowledge is nearly zero. It would be nice, if my creation could be checked and if the changes are ok, they could be integrated. Can I upload the zipp

[2022-05-03 12:06] luzpaz commented on #134
Merged in 4fdbc16
Thanks @hpbmo for your contribution

[2022-05-03 12:06] #134 closed

[2022-05-03 13:12] luzpaz commented on #63
@danmiel since this A2plus related, would you mind weighing in?

[2022-05-03 13:13] luzpaz commented on #117
@hpbmo interested in tackling this? :smiley:

[2022-05-03 14:28] luzpaz commented on #126
Please post to the freecad forum for further discussion

[2022-05-03 17:24] DanMiel commented on #63
I could try looking at the code but I have not had coding education and it takes me a while to understand Kbwbe’s code.
I almost didn’t use A2plus because of the time it takes to create a constraint. Time is not just the time it takes to select the features. In A2plus time = click the first feature + select control key + select second feature + mouse travel to selection icons + select icon + trave

[2022-05-04 12:11] hpbmo commented on #117
@luzpaz
I don't know very much about rivets and even less about the imperial meassuring system. But I will have a look into some datasheets and then we will see .... .

@mfraser can you describe your needing a little bit more?

[2022-05-04 16:00] luzpaz commented on #63
@mikereiner ping

[2022-05-08 07:10] mfraser commented on #117
These are a couple of standards on 2 of the main rivets I use. You would also need to include the formed tail - http://www.pilotfriend.com/experimental/build_12.htm
[nas1097-spec-sheet.pdf](https://github.com/shaise/FreeCAD_FastenersWB/files/8646505/nas1097-spec-sheet.pdf)
[NASM20426-AIA.pdf](https://github.com/shaise/FreeCAD_FastenersWB/files/8646507/NASM20426-AIA.pdf)

[2022-05-19 13:39] mfraser commented on #117
Before I try to look at this myself, is there any way of creating a non threaded countersunk bolt at the moment?

[2022-05-21 17:53] shaise commented on #117
by default all fasteners are created without the thread.

[2022-05-23 18:42] hpbmo commented on #117
@mfraser

Excuse me for the late response. At the moment I had some other tasks on my desk ;-)

I started with the source files for nas1097 rivets. Maybe I can soon upload them and you can take a look, if they are ok

[2022-05-24 08:37] K4LCIFER opened #136 "Where do you guys get your information to create the models for each fastener?"
I find that whenever I want to find general information on dimmensions of say even just a regular metric screw I end up encountering a paywal of a few hundred dollars to acquire the standard from ISO. I was wondering if you guys have a source to acquire standards for free, or if you are paying for each standard when you add more to this workbence.

[2022-05-24 17:00] luzpaz commented on #136
Please x-post the question to the official discussion thread https://forum.freecadweb.org/viewtopic.php?f=8&t=11429

[2022-05-28 15:54] wavexx opened #138 "Drill/tap per-object thread offset"
It is sometimes necessary to have different tolerances when generating a modeled thread.
For example, the "Hole" tool allows to set Fit/Class (which are pre-defined iso values) and "Custom thread clearance" for these cases.

Would it be possible to have something equivalent for the drill/tap? A custom thread distance would fill be a good start, since it's the general form of fit/class, but I think

[2022-05-28 16:47] shaise commented on #138
right now you can set thread tolerances in the fasteners general settings (edit -> preferences). It is intended mainly for 3D printing, but can be used for other things as well.

[2022-05-31 06:31] mfraser commented on #117
Many thanks for doing this. I suppose once one type of rivet has been done, it will be easier to modify it for other solid rivets.

[2022-05-31 10:42] luzpaz commented on #119
thanks shaise! Closing

[2022-05-31 10:42] #119 closed

[2022-05-31 10:43] luzpaz commented on #63
@mikereiner bump

[2022-05-31 10:48] luzpaz commented on #93
@danmiel if you have an inclination, can you also check this (https://github.com/shaise/FreeCAD_FastenersWB/issues/93#issuecomment-821371117) in a2plus?

[2022-05-31 10:50] luzpaz commented on #50
Hi @wavexx would you mind taking a swing at this issue?

[2022-05-31 10:54] luzpaz commented on #31
@shaise what's left in this ticket?

[2022-05-31 10:57] luzpaz commented on #6
Posted to discussion: https://forum.freecadweb.org/viewtopic.php?p=598764#p598764

[2022-05-31 10:59] luzpaz commented on #118
thanks shaise! closing

[2022-05-31 10:59] #118 closed

[2022-05-31 11:06] shaise commented on #31
dont know. I think the issue is solved

[2022-05-31 11:07] luzpaz commented on #131
@shaise Is this fixed by #132 ?

[2022-05-31 11:08] shaise commented on #131
I believe it should but have not tested

[2022-05-31 11:11] luzpaz commented on #31
@ldboehm hi, it's been a minute :wink:
Do you mind looking over this ticket and checking if it's fully satisfied and report back so we know what is its status?

[2022-05-31 11:13] luzpaz commented on #131
@ToniTen ping
Do you mind testing?

[2022-05-31 11:28] wavexx commented on #50
Keep in mind I'm still relatively new at freecad (well, not really, I've been using it for small hacks for years, but with realthunder's fork I got some relatively complex projects working and I'm feeling impressed enough to be ready to jump out of commercial stuff and start contributing).

Reading the report, it seems like it works as intended, except patharray is not behaving as a regular array

[2022-05-31 11:55] ldboehm commented on #31
Feel free to close it.  IMHO adjusting thread size and width should be in the automatically updated Workbench.
Having to download code and overwrite manually isn't the greatest user experience.

[2022-05-31 13:02] shaise commented on #31
@ldboehm , this feature exists in the formal, updated, Workbench

[2022-05-31 13:20] luzpaz commented on #31
@shaise thanks for weighing-in. If issues are closed, please consider closing them. Thanks!

[2022-05-31 14:29] luzpaz commented on #50
That actually sounds like addressing the central problem.

[2022-06-02 09:43] Roy-043 opened #142 "Possible problem with retranslateUi in screw_maker.py"
There are duplicate numbers in the list. I do not know what impact this has.

https://github.com/shaise/FreeCAD_FastenersWB/blob/a82636d951c7badd221b35bf922ba73db046eda1/screw_maker.py#L269-L270

https://github.com/shaise/FreeCAD_FastenersWB/blob/a82636d951c7badd221b35bf922ba73db046eda1/screw_maker.py#L278-L279

[2022-06-06 14:46] DanMiel commented on #93
Update:
luzpaz. I have experimented with the fasteners and have found that ALL PEM style fasteners will create the same problem, which seems to be that the part the PEM is attached to disappears when an assembly is imported into an upper assembly.
For A2plus: My work around would be to add the fastener to an empty file, add it as a part, then add the fastener file to the assembly with constraints.

[2022-06-07 11:15] shaise commented on #142
This is a remanent code from the original screw_maker stand-alone macro  and is not used in the workbench at all, hence not an issue. It will probably be removed when screw_maker.py will be refactored.

[2022-06-16 10:38] ToniTen commented on #131
Sorry for the late reply, but yeah, it's fixed

[2022-06-16 10:38] #131 closed

[2022-06-25 16:04] ArthurFDLR opened #144 "Missing lengthCustom field for FSPcbSpacer"
It would be great to be able to custom the length of Spacers similarly to StandOffs.

The `Custom` entry is available in the length parameter drop-down list, but the desired length can't be specified. There is no `Custom length` field like for standoffs. The selection of custom length leads to the following error:

[code]
![Fastners_Spacer_Missing_Custom](https://user-images.githubusercontent.com/

[2022-06-25 18:41] luzpaz commented on #144
Please always post your full [About](https://wiki.freecad.org/About) info (which also tells us what FastenersWB version you're using)

[2022-06-25 20:51] ArthurFDLR commented on #144
Sorry about that, here is my _About_ info:

[code]

[2022-06-26 06:28] Thamone opened #145 "ScrewDie and ScrewTap custom diameter issue."
I have a problem with ScrewDie and ScrewTap tool. If I select diameter from the list, their size will match. But if I set diameter to the same "Custom value" the size of Die and Tap is too much off.

![13:11:43_26_06_22](https://user-images.githubusercontent.com/28747875/175802361-99e1b299-670e-42bb-b562-85f44f61480c.jpg)

![13:12:35_26_06_22](https://user-images.githubusercontent.com/28747875/175

[2022-06-26 11:45] luzpaz commented on #145
CN you reproduce on the latest FreeCAD stable  v0.20? Also can you repaste About info when you do so we know what version of Fasteners WB you're using

[2022-06-26 15:08] shaise commented on #144
Fixed. Please check.

[2022-06-26 19:01] ArthurFDLR commented on #144
Thanks for the quick fix. It's working.

[2022-06-27 01:35] Thamone commented on #145
Thank you, I'm building Freecad0.20 From AUR and will report you back. For the workbench version, I think it's the latest one because I've tried check addons for update but all are up to date.

[2022-06-27 05:01] shaise commented on #145
I can confirm similar results on v20.

[2022-06-27 06:04] Thamone commented on #145
I'm now on

[code]
OS: Manjaro Linux (GNOME/gnome)
Word size of FreeCAD: 64-bit
Version: 0.21.29321 (Git) AppImage
Build type: Release
Branch: master
Hash: 8ee773362e08d703bce9cfdcefd8e4ad424a7d44
Python 3.10.5, Qt 5.12.9, Coin 4.0.0, Vtk 9.1.0, OCC 7.5.3
Locale: English/United States (en_US)
Installed mods:
  * fasteners 0.3.46
[/code]

I still get the same result but I now change **Thread genera

[2022-06-27 11:11] luzpaz commented on #144
Closing ticket

[2022-06-27 11:11] #144 closed

[2022-06-27 11:37] Thamone commented on #145
It is printed out perfect fit with offset 0.15, -0.15 :)
Thank you
![1656329710708](https://user-images.githubusercontent.com/28747875/175932631-096ea507-1faa-41df-a5e2-61c1ae0defd0.jpg)
.

[2022-06-27 11:37] #145 closed

[2022-06-29 18:44] bhs67 opened #146 "[Feature Request] Library of threaded PVC pipe adapters for folks in the US"
I go to the hardware store and buy a PVC 1 1/2 inch male adapter. The threaded diameter is slightly smaller on the front end, so it tightens as I screw it on a 1 1/2 inch female adapter.

All PVC pipes and threaded adapters are the same throughout the United States. Whatever I buy, everything fits together.

It would be good if there were a standard library of threaded PVC pipe adapters for US fol

[2022-07-02 11:27] Thamone commented on #145
Oh sorry my bad :P I thought this value was tolerances between the internal and external thread.

[2022-07-05 13:50] alnjmalsaat3 opened #147 "need m7 diameter"

[2022-07-05 17:09] luzpaz commented on #147
Please put more effort in to this feature request

[2022-07-12 21:17] luzpaz commented on #146
Interesting models produced by the opensourceecology folks: https://wiki.opensourceecology.org/wiki/SEH_2_Kitchen_and_Bathroom_Part_Library

[2022-07-13 09:36] Roy-043 opened #149 "Wrong color for DIN 571 Hexagon head wood screw icon?"
For some reason bright green was selected as the color for the DIN 571 Hexagon head wood screw icon. Considering that the inch fasteners are pale green this is a bit confusing IMO.

[2022-07-13 14:11] shaise commented on #149
I think the reason is because the thread is neither metric nor imperial. but I tend to agree that if the sizes are in mm, it should be orange as all other metric fasteners

[2022-07-13 15:02] bhs67 commented on #146
Thanks.  I was unaware of this library.

[2022-07-15 00:21] alexneufeld commented on #136
[http://www.fasteners.eu/](http://www.fasteners.eu/) and [https://en.torqbolt.com](https://en.torqbolt.com) have pages for most of the DIN and ISO fastener standards. Their data tables are ripped straight from the standard pdfs (torrents of which are also available if you look hard enough). Beyond those sources, vendors such as McMaster-Carr and Misumi have detailed enough info/models for most pro

[2022-07-19 10:03] #136 closed, assigned to nobody

[2022-07-19 10:06] luzpaz commented on #102
@xoviat ping

[2022-07-19 10:07] luzpaz commented on #17
Unnecessary now since there is a package.xml file: https://github.com/shaise/FreeCAD_FastenersWB/blob/master/package.xml

[2022-07-19 10:32] shaise commented on #142
Sounds reasonable.

[2022-07-19 11:51] luzpaz opened #158 "Refactor `screw_maker.py`"
Fasteners workbench evolved out of a macro called  `screw_maker.py` created by ulrich of the FreeCAD community. There are still remnants of that macro within the code. This issue is a placeholder for the need to refactor the code and clean it up.

[2022-07-19 11:51] luzpaz commented on #142
Closing in favor of #158

[2022-07-19 11:51] #142 closed

[2022-08-04 15:46] berberic2 opened #159 "thread to short on screws?"
It seems, that the threads on screws are too short.
I recognized it for ISO 14583, but might hold probably for all.
Maybe a side-effect of the fix from https://github.com/shaise/FreeCAD_FastenersWB/issues/119 ?

![Screenshot_20220804_173904](https://user-images.githubusercontent.com/13178920/182889273-224aecfe-ecca-4ccd-b8d3-b81aa228e91d.png)

[2022-08-05 07:42] shaise commented on #159
This is most probably not a side effect of #119, as #119 touched only the threaded rod.
However there is definitely an issue with the thread creation. Aside from not starting from the top, adding threads seems to alter the length of the fastener. And this affects many other fasteners, if not all. I need to dig into it to see how to globally fix this issue.
Thanks for the catch.
shai

[2022-08-07 21:52] shaise commented on #159
I had to completely change the interface to the thread creation as it was too complicated to understand and use.
This should solve this issue as well.

[2022-08-07 22:40] luzpaz commented on #159
Thanks for refactoring and simplifying the code semantically!

[2022-08-10 07:54] shaise commented on #159
@berberic2, can you verify the issue is fixed?

[2022-08-10 18:54] berberic2 commented on #159
Yep.
As far as I can see, it works fine now.
Thanks.

[2022-08-10 18:55] berberic2 commented on #159
closing issue…

[2022-08-10 18:55] #159 closed

[2022-08-12 08:12] shaise commented on #158
Stage 1 complete. screw_maker cleaned and split to separate screw creation files

[2022-08-15 20:07] leoheck opened #161 "Custom Fastner"
I am thinking there that this workbench could have a genetic way to specify a custom fastener.

Like a button that presents a bunch of windows with some configs where we could model an unknown screw that we already have. Or where we can create a custom screw to use it on special cases.

What do you think?

[2022-08-15 20:15] shaise commented on #161
A GUI to create custom screws could indeed be a nice feature. But I guess it will not be so easy to implement.
Right now I'm working to simplify and standardize fasteners creation in code, so maybe in the future it will be easier to add this feature.

[2022-08-15 20:25] leoheck commented on #161
Hi @shaise, yeah, no rush. Just wanted to share this idea to start a discussion. Also, the idea does not need to start and appear available ready, it can evolve with time. But thanks for the nice response. I appreciate that.

[2022-08-22 13:44] berberic2 opened #163 "DIN 1587 broken"
Hello,

DIN 1587 “Sechskant-Hutmuttern, hohe Form” is broken.

![Screenshot_20220822_153816](https://user-images.githubusercontent.com/13178920/185935265-979ea347-903b-44f2-ba37-b48befe20b49.png)
Nuts are transparent in the image. Size is M6.
Without thread, the hole has no depth.
With thread the thread is to short. For M6 it should be 8 mm, but is only about 6.5 mm.
(As far as I understand, 8 mm

[2022-08-22 13:46] luzpaz commented on #158
@shaise can we close this ticket now? (Thank you for all your efforts recently!)

[2022-08-22 13:47] luzpaz commented on #102
@berberic2 do you mind weighing-in ?

[2022-08-22 13:48] luzpaz commented on #149
Can this ticket be closed, @Roy-043 ?

[2022-08-22 14:54] shaise commented on #163
Thanks. Will check!

[2022-08-22 18:42] berberic2 commented on #163
![Screenshot_20220822_204032](https://user-images.githubusercontent.com/13178920/185995259-c79119da-4b78-4059-a4f2-2705f3b5ce83.png)

[2022-08-22 20:08] #163 closed

[2022-08-22 20:18] luzpaz commented on #163
Thanks!

[2022-08-22 20:37] berberic2 opened #165 "Automatic label of objects is missing trailing zeros in some cases."
The automatic label is wrong if the diameter ends with 0.
Par example, instead of “M10-Nut” it gets “M1-Nut”, analog for M20, etc…

Problem is in FastenersCmd.py · FSScrewObject.CleanDecimals()
which removes trailing zeros even if there is no decimal point.

[2022-08-22 21:18] shaise commented on #165
should be fixed now
Thanks!

[2022-08-22 21:27] shaise commented on #158
Closing.

[2022-08-22 21:27] #158 closed

[2022-08-22 21:59] #165 closed

[2022-08-23 07:59] Roy-043 commented on #149
Yes.

[2022-08-23 07:59] #149 closed

[2022-08-23 09:16] berberic2 commented on #64
I would say: yes.

[2022-08-23 11:34] shaise commented on #64
Closing this issue as complete

[2022-08-23 22:06] krezac opened #166 "Unable to turn on thread on hex screw"
Click:
- Add ISO 4017 Hex Head Screw
- select it
- switch thread to true
- click some other field

[code]

In

[code]

[2022-08-24 04:31] shaise commented on #166
Hi, thanks for the catch!
It should be fixed now, please update and check.

[2022-08-24 11:05] #166 closed

[2022-08-24 11:41] luzpaz commented on #103
Is this still relevant ?

[2022-08-26 18:07] nicocarbone opened #167 "Creating a thread with a custom diameter crashes the addon"
I am trying to create a DIN thread (the same problem happens with a UNC thread) with a custom diameter. When I select "custom" in the diameter drop menu and try to set a diameter in the diameter input, the addon crashes.

I am using version 0.4.3 of the workbench on freecad 0.2. This used to work in previous versions of the workbench.

Here is the output:

[code]

[2022-08-27 10:58] luzpaz commented on #167
Please post your full [about](https://wiki.freecad.org/About), TIA

[2022-08-27 11:06] nicocarbone commented on #167
Here it is:

[code]
OS: Ubuntu Core 20 (ubuntu:GNOME/ubuntu)
Word size of FreeCAD: 64-bit
Version: 0.20.29177 (Git) Snap 161
Build type: Release
Branch: tag: 0.20
Hash: 68e337670e227889217652ddac593c93b5e8dc94
Python 3.8.10, Qt 5.15.3, Coin 4.0.0, Vtk 7.1.1, OCC 7.6.2
Locale: Spanish/Spain (es_ES)
Installed mods:
  * fasteners 0.4.3
[/code]

[2022-08-27 11:22] luzpaz commented on #93
Hi @DanMiel, how's it going ?

[2022-08-27 14:34] shaise commented on #167
hi @nicocarbone ,
Thanks for the catch. I should be fixed now, please test.
shai

[2022-08-27 23:05] nicocarbone commented on #167
Hi @shaise
Thank you for looking into the problem.

Unfortunately, I updated the add-on using the FreeCad add-on manager and I am still having the bug. Should I update in a different way?

[2022-08-28 06:13] shaise commented on #167
Hi @nicocarbone ,
Sorry about that it was my mistake. I fixed the bug for Tap tool, and not for threaded rod and screw die that had the same bug. Please update again and let me know.

[2022-08-28 23:57] nicocarbone commented on #167
It seems to work now :)
Thank you @shaise!

[2022-08-28 23:57] #167 closed

[2022-08-29 18:24] luzpaz commented on #102
@shaise ping

[2022-08-29 18:25] luzpaz commented on #93
@kbwbe maybe you have a moment to improve compatibility between a2+ and FastenersWB ?

[2022-08-29 21:29] shaise commented on #102
I can't reproduce this issue. Changing both fastener type and diameter seems to work even if I switch between Inch/Metric types. Need more info.

[2022-08-29 21:32] shaise commented on #93
@DanMiel ,
PEM fasteners use now the same system as all others. Can you see if they work now with A2plus?

[2022-08-30 02:11] DanMiel commented on #93
shaise: With minimal testing the PEM fasteners are working.  Putting them on the same system as the others seem to work.
Thank you for your time.
Dan

[2022-08-31 14:19] #60 closed

[2022-08-31 15:25] berberic2 opened #169 "“move fastener to new location” does not honor placement"
The “move fastener to new location” function does not honor the placement of an object. It moves the Fasteners to the position the selected edge (circle) would have is placement is zero. Initial positioning a fastener (while creating) does honor the placement.

If I try to  “move fastener to new location”  in the attached examples it does not honor the placement of body.

[fasterners_placement.FCS

[2022-08-31 15:50] berberic2 opened #170 "“Match screw by outer thread diameter (Pass hole)” icon vanishes on switching workbenches."
If I open the fasterners-workbench for the first time, there are two icons, to select, if outer or inner diameter should be matched. After switching to PartDesign (or probably any other workbench) and back to fasterners the “Match screw by outer thread diameter (Pass hole)” icon is gone.
I mostly need the outer thread diameter option.

![Screenshot_20220831_172729](https://user-images.githubuserco

[2022-08-31 16:18] shaise commented on #170
Yes, I encountered this as well. will investigate...

[2022-08-31 16:20] shaise commented on #169
Thanks for the report. I'm on it.

[2022-08-31 17:07] berberic2 commented on #102
Sorry, can not reproduce…

[2022-08-31 17:56] luzpaz commented on #102
@xoviat can you please add you full [about](https://wiki.freecad.org/About) info?

[2022-08-31 18:12] shaise commented on #169
Should be fixed now

[2022-08-31 18:26] berberic2 commented on #169
Now the fasteners follows the object, if placement of object is changes – which is fine,

But now “move fastener to new location” does not work at all. The function does not get activated if a fasteners and a circle-edge is selected.

[2022-08-31 18:30] berberic2 commented on #169
Thanks.

[2022-08-31 18:37] #169 closed

[2022-08-31 21:40] shaise commented on #170
It seems to be an internal freecad bug with grouped commands. I have resided to a manual handling of the buttons. Should be OK now.

[2022-09-01 07:41] Roy-043 commented on #50
IMO this issue can now be closed.

[2022-09-01 09:03] wavexx commented on #50
I didn't have time to look at PathArray yet. Was this solved, or maybe we should have a specific issue on patharrays?

[2022-09-01 09:48] Roy-043 commented on #50
The code in https://github.com/shaise/FreeCAD_FastenersWB/pull/168 also handles path arrays.

[2022-09-01 13:51] #50 closed

[2022-09-01 20:04] luzpaz commented on #170
@shaise is there an upstream ticket ?

[2022-09-01 22:35] shaise commented on #170
I cant say that for sure. I just did not find any reason why a button will disappear when switching workbenches

[2022-09-10 14:08] FreeCAD-Tools opened #173 "A question about similar details."
Let's say I want to add a detail according to GOST, but such a very similar detail already exists in ISO or DIN execution will it be included in the workbench?

I looked at the sources and similar details are hidden there through #

[2022-09-10 14:11] FreeCAD-Tools opened #174 "Translation of workbench."
Will the ability to translation the workbench via Crowdin be added?

I made a Russian version of the workbench, but it's not exactly the best solution.

https://github.com/FreeCAD-Tools/FreeCAD_FastenersWB-RUS

[2022-09-10 17:56] FreeCAD-Tools commented on #87
Isn't Crowdin service needed for this? It costs money...

[2022-09-11 04:48] luzpaz commented on #87
It's free for open source projects

[2022-09-25 15:22] FreeCAD-Tools opened #178 "Transalion is not fully complete."
Russian ts files is not complete...

Outros tipos

![изображение](https://user-images.githubusercontent.com/90561109/192151299-354471f3-7abe-43a9-bf57-c6ed16548cab.png)

Sextavago rosca ....

![изображение](https://user-images.githubusercontent.com/90561109/192151338-dc1bbfe4-871d-4ed6-a37c-ccc93c95ee90.png)

[2022-09-25 15:51] FreeCAD-Tools opened #180 "Menu items translation bug."
At the very beginning, the normal translation is displayed. But then after a few nanoseconds it goes bad. This gif animation is made with slow motion.

![menubug](https://user-images.githubusercontent.com/90561109/192152692-3daecd81-fd7c-425c-a54d-64ffe8536045.gif)

[2022-09-25 15:52] FreeCAD-Tools commented on #174
Closed when translation maked https://github.com/shaise/FreeCAD_FastenersWB/pull/179

[2022-09-25 15:52] #174 closed

[2022-09-25 16:00] FreeCAD-Tools commented on #178
Fixed.

[2022-09-25 16:00] #178 closed

[2022-09-25 18:46] shaise commented on #180
It looks line an internal freecad issue. Did you try asking in the forum?

[2022-09-25 19:20] luzpaz commented on #180
That is a weird anomaly!

[2022-09-25 23:19] riqueenz commented on #180
Apparently calling the translate function off at the beginning of the InitGui.py file solves the problem. But why?

![Captura de tela de 2022-09-25 20-01-37](https://user-images.githubusercontent.com/1063523/192169929-78bb3ae6-3915-4c0d-8f35-952d82b64b12.png)

![Captura de tela de 2022-09-25 20-02-20](https://user-images.githubusercontent.com/1063523/192169915-602e82c3-63fc-4ba0-a0aa-d3475992d4b9.

[2022-09-26 06:56] shaise commented on #180
it looks like after the last commit, I get only partial translation when I change to Portuguese.
![image](https://user-images.githubusercontent.com/5813568/192212391-5d4e87cb-e7ea-4739-8673-40aa1c5617be.png)

[2022-09-26 09:30] FreeCAD-Tools commented on #180
Tested. Works fine in not change the language.

![изображение](https://user-images.githubusercontent.com/90561109/192242342-7fce0d09-faa7-4f2f-b3a3-8e0b82eca761.png)

If change the language text, labels is not changes and encodings is broke. But I think this minor bug for other issue.

![изображение](https://user-images.githubusercontent.com/90561109/192242041-a3167a68-07d1-4bfa-bfea-db190f09fb50.

[2022-09-26 09:59] FreeCAD-Tools opened #182 "Completion of the translation."
The translation is done very well, but there is still a little bit left.

![изображение](https://user-images.githubusercontent.com/90561109/192248547-65eb42cd-2b45-4320-8273-cfab18c12dd2.png)
fasteners types

![изображение](https://user-images.githubusercontent.com/90561109/192246290-1601022a-96df-47b6-a9fd-62763f1e0e07.png)
header, Table headers, default value.

[2022-09-26 10:28] FreeCAD-Tools opened #183 "Translation parts in treeview."
The easiest way to do this is to change the label after creating the object. For example:

        sheet = FreeCAD.ActiveDocument.addObject('Spreadsheet::Sheet',
                                                 'Fasteners_BOM')
        sheet.Label='Спецификация'

without translation:
![изображение](https://user-images.githubusercontent.com/90561109/192254175-4c378bdc-9816-4880-b56f-6789330ab03d.pn

[2022-09-26 12:06] riqueenz commented on #180
You need to restart FreeCAD in order to get fully translation support.

[2022-09-26 14:18] luzpaz commented on #117
@hpbmo ping
Any traction yet?

[2022-09-26 16:16] FreeCAD-Tools commented on #183
Good work.

Who knows where the fasteners object is created in the code?
Like (M27)x50-Screw, M16-Washer etc...
Where name of these objects is set?

![изображение](https://user-images.githubusercontent.com/90561109/192327762-d01e89e7-3b17-43bd-9a1c-53fa40163919.png)

[2022-09-26 16:18] FreeCAD-Tools commented on #182
Good work.

I looked at the code and some words are not easy to translate. Since they are related to the code. Like **Default**

[2022-09-26 16:21] FreeCAD-Tools commented on #180
The main thing is that it works.
Close issue? Or not?

[2022-09-26 16:45] shaise commented on #180
I believe this issue can be closed

[2022-09-26 17:32] shaise commented on #183
These must not be changed. it might brake files saved with fasteners

[2022-09-26 19:12] FreeCAD-Tools commented on #183
I can't figure out how the **Screw** turns into **(M14)x25-Screw**

Where does this (M14)x25 come from?

    def Activated(self):
        for selObj in FastenerBase.FSGetAttachableSelections():
            a = FreeCAD.ActiveDocument.addObject("Part::FeaturePython",
                                                 self.TypeName)
            FSScrewObject(a, self.Type, selObj)
            a.Label =

[2022-09-26 19:40] FreeCAD-Tools commented on #183
Ok. This is my realization of translate. All work fine.
Files saved with fasteners is not braked...

        selfFamilyType=self.familyType
        if selfFamilyType == "Screw":
            selfFamilyType = "Винт"
        if selfFamilyType == "Washer":
            selfFamilyType = "Шайба"
        if selfFamilyType == "Nut":
            selfFamilyType = "Гайка"
        if selfFamilyType == "Threade

[2022-09-26 19:53] FreeCAD-Tools commented on #183
It is very strange why only screws can have the LH parameter? After all, nuts can also have it.

    if hasattr(fp, 'length'):
        dispLen = self.ActiveLength(fp)
        dispWidth = ""
        if hasattr(fp, 'width'):
            dispWidth = 'x' + fp.width
        label = dispDiam + dispWidth + 'x' + dispLen
        if self.leftHanded:
            label += 'LH'

[2022-09-26 19:55] FreeCAD-Tools commented on #183
Part workbench use translation of objects and all works fine...

![изображение](https://user-images.githubusercontent.com/90561109/192367899-a15e40ef-9f11-4505-9f84-7d681202e11e.png)

[2022-09-26 20:03] FreeCAD-Tools commented on #180
To fix that. It is necessary for freecad to cause an interrupt during the workbench, informing that the user has changed the language. But as far as I know, there are no such mechanisms now.

[2022-09-26 20:03] FreeCAD-Tools commented on #180
Ok. Closed.

[2022-09-27 12:16] FreeCAD-Tools commented on #183
@shaise and @riqueenz To make that work, need to update the *.ts files. but I don't have access to the pylupdate5 utility in windows OS.

[2022-09-27 12:35] FreeCAD-Tools commented on #183
@shaise and @riqueenz

I make code for translate parts names in treeview.
And fix LH suffix for Nuts fasteners.
(If specify that the nut has a left thread, the suffix did not appear.)
To make translation work, need to update the *.ts files. but I don't have access to the pylupdate5 utility in windows OS.

By the way, it seems to me that:

    selfFamilyType=self.familyType
    if selfFamilyType ==

[2022-09-27 12:56] riqueenz commented on #183
@FreeCAD-Tools I made a pull request in your own repository of fasteners WB with the updated .ts files.

[2022-09-27 13:31] shaise commented on #183
After translating selfFamilyType,
Did you try saving fasteners on one language then open it with another language?

[2022-09-27 16:16] FreeCAD-Tools commented on #183
I checked everything seems to be fine. I added a translation into Russian and made a commit . you can download the workbench from my repository and test it too.

https://github.com/FreeCAD-Tools/FreeCAD_FastenersWB

For example, you can create a nut in the English language mode. save a file. switch to Russian. restart freecad, change the any parameter of fastener and its name will be translated in

[2022-09-27 16:22] FreeCAD-Tools commented on #183
I note that I don't like that the treeview fasteners names conflict with the already existing menu names.

        translate("FastenerCmd", "Washer")
        translate("FastenerCmd", "Nut")
        translate("FastenerCmd", "ThreadedRod")

is already exist in FastenersCmd.py

Can we change keyword "FastenerCmd" to "FastenerCmdTreeView" for treeview translations?
Does it allow QT translation mechani

[2022-09-27 16:27] riqueenz commented on #183
Yes, it works when you change it. This is called a context.

[2022-09-27 16:29] shaise commented on #183
also, I think you should use your shortcut idea:

selfFamilyType = translate("FastenerCmd", self.familyType)

[2022-09-27 16:32] riqueenz commented on #183
According to the FreeCAD documentation this doesn't work.
https://wiki.freecadweb.org/Translating_an_external_workbench

[2022-09-27 16:36] FreeCAD-Tools commented on #183
This idea needs to be checked.
But all the same, the start of code should have an enumeration of translation lines like:

    temp=translate("FastenerCmd", "Washer")
    temp=translate("FastenerCmd", "Nut")
    temp=translate("FastenerCmd", "ThreadedRod")

this needs for  pylupdate5 utility

[2022-09-27 16:50] FreeCAD-Tools commented on #183
Very strange, but it works for me...

       selfFamilyType = translate("FastenerCmd", self.familyType)

I add commit for tests.

https://github.com/FreeCAD-Tools/FreeCAD_FastenersWB

[2022-09-27 16:56] FreeCAD-Tools commented on #183
@riqueenz yes **lupdate** dot look this. (You use **pylupdate5**).
That's why I say that at the beginning of the code need to put meaningless strings like:

      temp=translate("FastenerCmd", "Washer")
      temp=translate("FastenerCmd", "Nut")
      temp=translate("FastenerCmd", "ThreadedRod")

This is necessary so that **pylupdate5** knows that there are such words for translation and adds them

[2022-09-27 17:12] FreeCAD-Tools commented on #183
Last test on:
https://github.com/FreeCAD-Tools/FreeCAD_FastenersWB

All workfind.It remains to check whether the *.ts files are generated correctly.

@riqueenz can you download original workbench:
https://github.com/shaise/FreeCAD_FastenersWB

replace file FastenersCmd.py to https://github.com/FreeCAD-Tools/FreeCAD_FastenersWB/blob/master/FastenersCmd.py

Remake *.ts files by you're script. And po

[2022-09-27 17:50] riqueenz commented on #183
update ts files

[2022-09-27 17:52] riqueenz commented on #183
@FreeCAD-Tools I maded a pull request at your branch

[2022-09-27 18:11] FreeCAD-Tools commented on #183
This is the end result. If everything is in order, can do a merge.

[2022-09-27 18:22] FreeCAD-Tools commented on #183
This is the final result. If everything ok, can do a merge.

[2022-09-27 18:41] FreeCAD-Tools opened #188 "Fasteners settings tab. Is possible to translate?"
![изображение](https://user-images.githubusercontent.com/90561109/192609509-c5ef9c1e-20c4-45f5-be96-c5043156479b.png)

[2022-09-27 18:55] FreeCAD-Tools commented on #74
It seems to me as a basis for Self Tapping Screws may can use DIN571 screw. Just need to change the cap.
But I do not competence in the code of the formation of screws.

![изображение](https://user-images.githubusercontent.com/90561109/192611269-3292c030-40dc-4879-a199-d4e03867706c.png)

[2022-09-27 19:06] FreeCAD-Tools commented on #147
As far as I know, the diameter of 7 mm (M7) cannot be specified in any way.

[2022-09-27 19:14] FreeCAD-Tools commented on #117
How you're going to display the rivets? in theory, they should have two states. riveted and not.

![изображение](https://user-images.githubusercontent.com/90561109/192615466-fcb64e19-7414-46bb-9534-d0320cd197e2.png)

[2022-09-27 20:08] mfraser commented on #117
I suppose you'd want them displayed formed if possible.

[2022-09-28 06:27] 0penBrain commented on #180
This is a quick and IMO erroneous conclusion.
I found at least one problem : in InitGui.py, the translations use the `InitGui` context which isn't correct.
Translations in InitGui.py shall use the `Workbench` context according to documentation.
Also is should use `QT_TR_NOOP` function instead of `translate` because the `Workbench` class doesn't inherit `QObject` -- this last point don't seem to be

[2022-09-28 07:33] #183 closed

[2022-09-28 08:15] FreeCAD-Tools commented on #117
It's just my thoughts.
For example, in fasteners there is a PEN Standoff.
And this fastener has a **blind** parameter.
And if the user changes the blend parameter, the shape of the fastener itself changes.

![изображение](https://user-images.githubusercontent.com/90561109/192725815-d3d6271a-79aa-4707-ab69-a2f4c49698af.png)

It would probably be nice to have such a switch for rivets. to display the

[2022-09-29 09:29] leoheck opened #190 "Unknown issue"
Hey shaise, I was testing other things and see this on my terminal now

I am not sure how to reproduce it, or what is going on, I am just sharing this with you because maybe you may have a clue.

[code]

Please, close this issue if it is nothing.

[code]

[2022-09-29 13:16] shaise commented on #190
hi @leoheck ,

Thanks for the report. There should have been some more lines describing the issue (just before or just after the line you sent), do you have it by any chance?

[2022-09-29 15:52] leoheck commented on #190
Yeh, this is not good, but I don't have anything else. I got this from the Linux terminal, and not from the inside of Freecad. It may have happened after upgrading the WB yesterday. If I see something else, I will update the issue here. Sorry, Shaie, for bringing this incomplete report.

[2022-09-29 19:30] shaise commented on #190
That's OK, Thanks. If you encounter it again please let me know.
Lot of changes were made lately

[2022-09-29 22:23] leoheck commented on #190
Thanks, dude, most of the Freecad devs do not understand that sometimes users do the best they can, even if ii is not close to what is expected. and sure, I will let you know, for sure.

[2022-09-30 00:54] luzpaz commented on #190
They understand. It's just they are inundated by requests for assistance and those usually require some education on how to report issues or request help. It can be quite a grind.

[2022-09-30 19:21] hpbmo commented on #117
@luzpaz
I will still try to implement the rivets. But  first I want to understand the changes witch shaise had made. I hope to get to that in the next few weeks.

@FreeCAD-Tools
That's exactly, what I would try to do. Your hint with parameter **blind** is a good input.

[2022-10-01 18:19] reivilibre opened #192 "Per-object tolerance settings"
The Fasteners workbench has some tolerance settings in edit -> preferences -> fasteners (which I think apply document-wide?), which are useful for compensating for 3D Printer inaccuracies. With a bit of trial and error, it's possible to tweak these to give some fasteners that fit well.

However I'm having the problem that the values for a well-fitting nut in the Z axis lead to a poor/loose nut in

[2022-10-01 21:44] shaise commented on #192
hi @reivilibre

The problem is that you can not touch the Z axis as it is changing the pitch. In my opinion there is always an xy tolerance that will give you both smooth motion and tight xy fit.

[2022-10-01 22:46] reivilibre commented on #192
You're right, my problem actually turned out to be an ID10T error :sweat_smile:.

For the model I did this time, I put an M12 screw tap on a hole of diameter 12, but for an earlier working model it was on a hole of diameter 10.2, so I wasn't actually comparing the same thing. Sorry!

[2022-10-01 22:46] #192 closed

[2022-10-03 15:16] FreeCAD-Tools commented on #147
Standart part used according to its standard can only have a certain list of permissible diameters.

If you want an m7 screw, but there is no such diameter in the standard. Then how to build its 3d model? Head of screw, for example? To build a part, many different values are required, and they are all set out in the tables of standards. And if you do not have the diameter you need in the table, th

[2022-10-03 16:41] luzpaz commented on #188
@shaise  Is this a .ui file or is it generate in the code?

[2022-10-03 16:55] leoheck opened #199 "Single Button with all Fasteners"
Not sure if this doesn't exist already. It would be nice to have a button that is a menu where we can select Fasteners from there. This way, other Workbenches could just embed a single button to access the whole workbench.

For instance, Assembly 4 has some buttons taken from this workbench, but They are just a generic Screw, Nut, Washer and the one to change the Fastener parameters. It is missing

[2022-10-03 20:04] shaise commented on #188
It was originally generated. dont remember if it was modified manually since

[2022-10-03 20:07] shaise commented on #199
Right now the only possible grouping is a single button per group. Since there are too many fasteners, they can not be grouped into a single list, and I do not know if freecad supports sub menus under buttons.

[2022-10-03 21:04] FreeCAD-Tools commented on #188
https://wiki.freecadweb.org/Translating_an_external_workbench

    If you have .ui files, you need to run lupdate first:

    lupdate *.ui -ts translations/uifiles.ts

It seems to me that the ui file should just be scanned by some kind of utility like lupdate.

[2022-10-03 21:23] FreeCAD-Tools commented on #188
I run commands in windows shell:

    lupdate FSprefs.ui -ts fsprefs.ts
    lconvert -i fasteners_ru.ts fsprefs.ts -o fasteners_ru.ts

Make translate. Realase translate. All work...

![изображение](https://user-images.githubusercontent.com/90561109/193685169-262b3305-726f-4852-af23-25fc53ba7e8a.png)

But needs some kind of universal script to update all languages at once.

[2022-10-03 23:41] leoheck commented on #199
Yeah, I could not find this either. But I am trying to find if this is possible, and how.

[2022-10-04 09:22] FreeCAD-Tools commented on #188
I think the problem is in this script:

https://github.com/shaise/FreeCAD_FastenersWB/blob/master/translations/create_ts.py

It does not find *.ui files where they stay ...

[2022-10-05 11:31] luzpaz commented on #199
What's an example of a submenu under a button ?

[2022-10-05 17:05] shaise commented on #199
Right now if you select in the preferences of fasteners that the icon grouping type is "drop down" then you will get only one toolbar button per group (instead of showing all of the fasteners). But still you as many buttons as there are groups. If you want to have a single fastener toolbar button, this button needs to drop down a sub menu of groups and each group will open a sub list of fasteners.

[2022-10-05 17:29] leoheck commented on #199
Exactly. A button with a dropdown list and each item with sub-items. Same behavior we have for Menus but on the Toolbar buttons.

[2022-10-06 20:43] belinski-roman opened #203 "Adding a bit of order to the panel (Fasteners_ToggleThreadType)"
I see that the number of fasteners in your workbench is increasing and that's good. I want to propose an innovation that brings a little order to the panel. What if we add a switch button to change the two modes metric thread/inch thread (by the type of how it is done in the sketch workbench - buttons that perform Scketcher_ToggleConstruction and Scketcher_ToggleDrivingConstraint). So it would be

[2022-10-06 21:14] FreeCAD-Tools opened #204 "Using one svg icon for several fasteners."
Now when a developer adds a new fastener, he has to create a new svg icon.
I think that for several fastener is better way to use one svg icon, for example: din 96, gost 1144-1, gost 1144-2.
May add а fourth optional parameter to the command table? like:

    "DIN96":   (translate("FastenerCmd", "DIN 96 Slotted half round head wood screw"), SlottedGroup,\
                      ScrewParametersLC, "

[2022-10-08 02:16] leoheck commented on #199
Someone shared this, but I am not sure how it works

https://github.com/ebrahimraeyat/civilTools/blob/7171aacbaf3f4a0f4a27f3eac389489eaa50d1c1/gui_civiltools/define/gui_create_load_combinations.py#L124

Source: https://forum.freecadweb.org/viewtopic.php?f=10&t=72324#p630639

[2022-10-08 10:41] FreeCAD-Tools commented on #203
I agree need some kind of solution. May be a panel with the ability to hide and show certain types of fasteners:

![изображение](https://user-images.githubusercontent.com/90561109/194703488-13aa8dcc-7ca3-4779-bb9f-db1003de49d5.png)

[2022-10-08 16:12] belinski-roman commented on #203
Yes, I think it's a good idea. It is necessary to think about how best to do this - in the form of a filter or as a set of checkboxes. You can also consider the option of a full-fledged sidebar instead of a workbench. This would make it possible to organize the arrangement of fastener types in a tree view of catalogs. But this is probably a topic that goes beyond the conversation about fasteners.

[2022-10-08 20:16] starcatter commented on #25
Hi, is this issue back? I just installed what looks like the current version (last change in `readme.md` is `V0.4.15  04 Oct 2022`), and upon adding "hexagon socket countersunk head" screws got the following:

![image](https://user-images.githubusercontent.com/30572485/194726182-ed430c48-4238-461e-b3f2-6de6903516a0.png)

hexalobular screws on the left look ok, hex socket screws on the right are gl

[2022-10-08 21:39] shaise commented on #25
I will take a look at it, can you say what size and length are the hex screws?

[2022-10-09 00:03] starcatter commented on #25
![image](https://user-images.githubusercontent.com/30572485/194731678-11aea41a-d5e4-487c-9ee4-031e60b4107d.png)

[2022-10-09 05:42] shaise commented on #25
I can not reproduce this issue with the current freecad version:
![image](https://user-images.githubusercontent.com/5813568/194740013-efaa7e51-0206-451e-8afe-f3e9ab4f1cb6.png)
Perhaps you should update your freecad, version 18 is quite old.

[2022-10-09 11:40] starcatter commented on #25
You are right! It works fine in the current stable version:

![current](https://user-images.githubusercontent.com/30572485/194754160-7c9bbc19-cfb9-425a-90c8-58c428b3cc70.png)

Problem occurs in link branch, installed via snap:
![link](https://user-images.githubusercontent.com/30572485/194754162-70ac6aef-7b75-4985-84e8-b68a00a69be1.png)

As well as one built from arch package:
![link-aur](https://u

[2022-10-09 15:29] luzpaz commented on #25
;Please let realthunder know. Closing ticket as this is related to Link branch

[2022-10-09 15:29] #25 closed

[2022-10-13 07:00] shaise commented on #25
I have merged @realthunder 's solution. However this fix is only for non flat countersunk screws so I wonder if it solves the issue. @starcatter , can you please check if it works now with the link branch?

[2022-10-14 15:34] FreeCAD-Tools opened #209 "Note to translators about unsupported languages."
While I was figuring out the translations, I noticed Mexican Spanish
https://github.com/shaise/FreeCAD_FastenersWB/blob/master/translations/fasteners_es_mx.ts
is not support in FreeCAD.

This may checked by command (https://wiki.freecadweb.org/Localisation):

      FreeCADGui.supportedLocales()

      {'English': 'en', 'Afrikaans': 'af', 'Arabic': 'ar', 'Basque': 'eu', 'Bulgarian': 'bg',
      'Ca

[2022-10-15 12:53] starcatter commented on #25
Countersunk hex screw sockets are now modeled correctly:
![image](https://user-images.githubusercontent.com/30572485/195987187-8b84decd-27b9-4572-96b4-15ea95b33cac.png)

However while playing around I noticed two things I think are new.

1 - set screws are sometimes modeled incorrectly, with the socket shape placed out of alignment:
![hex2](https://user-images.githubusercontent.com/30572485/195987

[2022-10-15 13:06] starcatter commented on #25
The extra shape also appears in the weekly build:
![WEEKLY](https://user-images.githubusercontent.com/30572485/195987989-121ad6bc-b700-482f-9c3c-59d6fdfb1064.png)

[code]
OS: Manjaro Linux (KDE/plasma)
Word size of FreeCAD: 64-bit
Version: 0.21.30492 (Git) AppImage
Build type: Release
Branch: master
Hash: b4578fb3eae842eb510a1bc055d07d369a67ce94
Python 3.10.6, Qt 5.15.4, Coin 4.0.0, Vtk 9.1.0, OCC

[2022-10-16 10:41] shaise commented on #25
Thanks for the report, working on it.
Can you save a file with a bad set screw and attach it?

[2022-10-16 12:27] shaise commented on #25
@starcatter
I think I fixed both issues. (no need for example file) Can you please test?

shai

[2022-10-16 12:30] shaise commented on #209
This should be a FreeCad issue, not Fasteners.

[2022-10-16 12:36] hasecilu commented on #209
Hi, I translated that file, you are correct there are only 2 selections for Spanish in FreeCAD, Spanish from Spain and Argentina.

Since it will not be used I think we can delete those files and I can check the es-es and es-ar files, I don't speak those variants but it's okay.

[2022-10-16 14:38] hasecilu commented on #209
@shaise
With #211 merged I think we can close this

[2022-10-16 15:34] FreeCAD-Tools commented on #209
@hasecilu
Thanks.

Even if delete a file from the repository, it still remains in its memory (history). In general, the work you have done will still remain in the project and it can be restored if desired, from this link (If Mexican Spanish language is be added to FreeCAD):

https://github.com/shaise/FreeCAD_FastenersWB/tree/d90c268ffc83c9a6e9e309e686faf321bbb299f3/translations

[2022-10-16 17:18] hasecilu commented on #209
Yep, I prefer to stick to one already supported language because starting another from zero would require a huge effort, and still with the ones  that already exist there are a lot of checks to do to guarantee coherence, good grammar, etc

[2022-10-16 20:38] starcatter commented on #25
Looks fixed - I can't reproduce any of the issues after updating to the latest version. Thanks!

[2022-10-18 18:04] EA32 opened #216 "[Feature Idea] Fasteners coating command."
I propose to add a special command that could set coating parameters.

https://www.google.com/search?q=fasteners+coating&source=lnms&tbm=isch

This feature uses mainly by tehnologs.

Each metal fastener who supports coating must be able to store the following values:
1) Coating standard (ISO4042 or GOST 9.306)(List)
2) Type of coating (List or string)
3) Сoating thickness in microns(number value)

[2022-10-18 22:36] james-mcjohnson opened #217 "Shape is not a shell when changing cylinder head screw parameters"
The latest commit (e19ca7317bd6f607300dc5631d663b4d062a9b18) has the following 2 lines:

`743: res[0].Placement = FreeCAD.Placement(FreeCAD.Vector(0,0,0),FreeCAD.Rotation(0,0,0,1))
744: res[1].Placement = FreeCAD.Placement(FreeCAD.Vector(0,0,0),FreeCAD.Rotation(0,0,0,1))`

These cause a "Shape is not a shell" error when changing parameters of a cylinder head screw. By adding a reference to h_a, th

[2022-10-19 06:48] shaise commented on #217
You are absolutely correct. Thanks!!

[2022-10-19 08:35] ToniTen opened #218 "[Feature Request][Enhancement] Add DIN-471 and DIN-472 circlips"
As first suggested in [this forum post](https://forum.freecadweb.org/viewtopic.php?p=632351#p632351)

Please add DIN-471 and DIN-472 circlips to Fasteners.

I found these two wikipedia pages where they give you the dimensions, but I'm sure there are many other places online where you can find the information:
https://da.wikipedia.org/wiki/DIN_471
https://da.wikipedia.org/wiki/DIN_472

[2022-10-19 13:41] luzpaz commented on #217
@shaise JFYI, if you use `Fixes #217` then 217 will automagically be closed when commit is merged

[2022-10-19 13:43] shaise commented on #217
@luzpaz
I prefer to let the person who opened it to check and close.

[2022-10-19 18:01] luzpaz commented on #217
Just sayin, they can always re-open if issue persists and ticket doesn't get neglected.

[2022-10-19 18:31] shaise commented on #217
Thanks. Its a good tip.

[2022-10-23 17:52] ectatomma opened #221 "[Feature Request][Enhancement] Add ASME B18.6.9 and DIN 315 Wingnuts"
It would be great to add wingnuts ASME B18.6.9 and DIN 315 to the workbench.

[2022-10-24 06:44] #218 closed

[2022-10-27 15:46] EA32 opened #227 "[Feature Request] Add AddBSplineCurve() function to FSFaceMaker class (FastenerBase.py)"
Screw head created by 2 arcs. 5 points
![image](https://user-images.githubusercontent.com/116030160/198334817-d440f674-05ba-43cd-8a29-c44099eef3ec.png)

Screw head created by 1 BSplineCurve. 3 points.
![image](https://user-images.githubusercontent.com/116030160/198333365-1e261641-558c-4905-b3f0-9114b2b2cdeb.png)

Curves allow to avoid a contour when constructing a hemisphere.
And allow to build a

[2022-10-27 16:45] shaise commented on #227
what is the python command for bspline?

[2022-10-28 05:52] FreeCAD-Tools commented on #227
This is code from console:

            App.getDocument('Unnamed').getObject('Sketch').addGeometry(Part.BSplineCurve([App.Vector(-0.44,28.52),App.Vector(40.73,29.41),App.Vector(39.85,-0.58)],None,None,False,3,None,False),False)

I think that should be enough. The name of new function can be shorter Add spline() for example.

[2022-10-28 15:37] shaise commented on #227
Thanks!
Feature is added.
To add a spline, simply use:
`addSpline(x1, z1, x2, z2, ..... xn, zn)`
This will add a spline starting at the last point, and going through all points.
Minimum 2 points (2 'x,z' pairs).

[2022-10-29 07:56] EA32 commented on #227
Thanks! This feature will be useful to me in the near future.

[2022-10-29 10:35] FreeCAD-Tools commented on #227
Nobody minds if the function is called AddBSpline instead of simple AddSpline ?

[2022-10-29 15:42] EA32 commented on #227
Feature coplited. Issue closed.

[2022-10-29 15:42] #227 closed

[2022-10-29 17:24] FreeCAD-Tools opened #234 "[Question] Is possible to turn and move solid body created by `FSFaceMaker` before fuse/cut operation?"
Is possible to turn and move solid body created by FSFaceMaker?
For example FSFaceMaker make contour at x,z origin. But I need create part of fastener for example at x,y origin.
Is possible create solid at x,z origin and turn it to x,y origin?
What coomands used for do that?

[2022-10-29 19:58] shaise commented on #234
Yes. Here is a small example, that turns a FaceMaker wire to the X,Y plane:
[code]

[2022-10-30 07:23] FreeCAD-Tools commented on #234
Yes, but this code move and rotate wire.
But how rotate and move solid body?

      fm = FastenerBase.FSFaceMaker()
      fm.StartPoint(0,0)
      fm.AddBSpline(0,1,1,1,1,0,0,0)
      profile = fm.GetFace()
      solidbody = self.RevolveZ(profile)
      # rotate and move ...
      base_soldbody = base_soldbody.cut(soldbody)
      # or
      base_soldbody = base_soldbody.fuse(soldbody)

[2022-10-30 08:59] shaise commented on #234
it the same thing:
`solidbody.rotate(FreeCAD.Base.Vector(0,0,0), FreeCAD.Base.Vector(1,0,0), -90)`

[2022-10-31 08:39] FreeCAD-Tools commented on #234
Thanks. I think I'll use that in the near future.

[2022-10-31 10:27] FreeCAD-Tools opened #238 "[Optimization] Notes about Settings menu"
Minor notes. Perhaps this is not very important.

1. I found some values in the translation files that are not visible on the screen but taking up space in the *.ts files.
In list it marked as '?'
![изображение](https://user-images.githubusercontent.com/90561109/198984301-da23c045-35a2-451f-b5b7-5a1eae0d3c95.png)

to that values do not includes to the *.tr file, I think they need to be marked with

[2022-10-31 11:28] shaise commented on #238
regarding 2, agreed and changed. But now it should be fixed in the translations

[2022-10-31 12:24] FreeCAD-Tools commented on #238
This not easy work. What about other strings?
Now menu looks as:

![изображение](https://user-images.githubusercontent.com/90561109/199006985-4d2f18da-f349-4074-babc-2d9367e3c1e1.png)

And this is how it could look like:
![изображение](https://user-images.githubusercontent.com/90561109/198986366-aa57d0a6-90ef-4d7f-bee2-f173b128293b.png)

[2022-11-01 08:44] FreeCAD-Tools commented on #238
IMO 'Thread generation' string may removed, and 'Scale settings for 3d printing' group box may be a checkable.
If the function is disabled, then the parameters are grayed out, which is clear.
This is at the discretion of the developer, and I don't know code and how to do that.

![изображение](https://user-images.githubusercontent.com/90561109/199191865-f3f01f11-df58-484e-bf98-602fd2ca20e1.png)

Ab

[2022-11-05 18:50] FreeCAD-Tools commented on #238
Thanks. I think the issue can be closed.

[2022-11-05 18:50] #238 closed

[2022-11-05 19:01] FreeCAD-Tools opened #244 "Notes to fasteners menu item names"
https://github.com/shaise/FreeCAD_FastenersWB/blob/9d72f974b53b487a0c59258e8ff545082f02efe1/FastenersCmd.py#L102

The absence of a space between ISO and 4762, is it a typo or is it necessary for something?

https://github.com/shaise/FreeCAD_FastenersWB/blob/9d72f974b53b487a0c59258e8ff545082f02efe1/FastenersCmd.py#L203-L205

For some reason, the name and number of the standard are missing in the li

[2022-11-05 19:20] FreeCAD-Tools commented on #244
And who known for what is space removing added in group names?

https://github.com/shaise/FreeCAD_FastenersWB/blob/9d72f974b53b487a0c59258e8ff545082f02efe1/FastenerBase.py#L127-L134

is possibe to disable that replacing? That's looks strange:

![изображение](https://user-images.githubusercontent.com/90561109/200137154-116beffc-174c-4585-8ab7-15d77512cc16.png)

If fix that panel name would be look

[2022-11-06 17:56] alexneufeld commented on #204
Having a separate icon for each fastener is the simpler solution IMO. svg files are cheap,  and if the user decides to use their own custom icons (which is already a possibility in FreeCAD, and will likely become more common as the preference pack system becomes more robust), they would probably not like it if some icons were not individually changeable because of an ad-hoc de-duplication system i

[2022-11-10 14:08] shaise commented on #244
I see the tool tip differently:
![image](https://user-images.githubusercontent.com/5813568/201112749-032e857a-4cad-4425-9d75-99f3e11def10.png)

[2022-11-11 15:55] FreeCAD-Tools commented on #244
![изображение](https://user-images.githubusercontent.com/90561109/201378285-336265be-ccc1-4cf9-8416-0e61bbfef029.png)
Place the cursor over the beginning of the panel (Where the strip of dots is), after a while the tooltip should pop up. It will contain the name of the component group.

[2022-11-11 20:23] macdroid53 opened #246 "Some ScrewTap sizes produce bad geometry when threaded."
I'm using the latest dev version 0.21 30972 and fasteners 0.4.23

![Snip macro screenshot-3a6eb6](https://user-images.githubusercontent.com/6831752/201425483-d955ff69-c3f8-466c-a101-f7bbf2d54665.png)
[FastenersError-mac.FCStd.zip](https://github.com/shaise/FreeCAD_FastenersWB/files/9993049/FastenersError-mac.FCStd.zip)

Am I doing something wrong?

[2022-11-12 01:17] alexneufeld commented on #246
nothing wrong on your end. The thread generation code needs cleaning up. Give me some time to put a patch together.

[2022-11-12 14:30] shaise commented on #244
Yes you are right.
I will check if there was a reason for that.

By the way, I usually use the drop down buttons option, it is much less cluttered.
![image](https://user-images.githubusercontent.com/5813568/201478688-7beaffdc-69fe-4149-ae91-3162c63f286f.png)
![image](https://user-images.githubusercontent.com/5813568/201478807-662aff62-28ea-4165-83a5-6e8bbe5fb1fc.png)

and also the group name looks

[2022-11-12 16:57] FreeCAD-Tools commented on #244
For everything to work properly, need to add one more replace at: cmdlist.append(...
It's not clear why this was added.

    def getCommands(self, group):
        cmdlist = []
        cmdsubs = {}
        for cmd in self.commands[group]:
            command, subgroup = cmd
            if subgroup is not None and GroupButtonMode > 0:
                if not (subgroup in cmdsubs):

[2022-11-14 11:10] luzpaz commented on #217
Closing ticket.

[2022-11-14 11:10] #217 closed

[2022-11-14 11:11] luzpaz commented on #87
Thank you for all involved. Closing

[2022-11-14 11:11] #87 closed

[2022-11-14 11:14] luzpaz commented on #209
So the gist here is that there is one dialect (is that the correct term) of spanish that is not supported by upstream FreeCAD ?

[2022-11-14 11:15] luzpaz commented on #74
Perhaps related #138

[2022-11-14 11:37] shaise commented on #74
DIN571 is implemented now.

[2022-11-14 16:10] EA32 commented on #74
![image](https://user-images.githubusercontent.com/116030160/201708779-1ad67617-9851-46cb-9e6b-f6efec2f49f0.png)

At this moment, GOST 1144(2) and GOST 1144(4) Wood Screws is available, they are not is Self-Tapping Screws, but have thread with very similar profile and along the entire length. Their have semi-sphere heads.

[2022-11-14 21:02] FreeCAD-Tools commented on #209
Yes.

Just before doing a translation, translator need to check if the language is supported in FreeCAD. If language is not supported in FreeCAD "core", then there is no point in translation. It will simply take up space in the workbench repository.

[2022-11-19 16:08] FreeCAD-Tools commented on #209
I think this issue can be closed, because the information is was duplicated at the workbench description.
https://github.com/shaise/FreeCAD_FastenersWB/pull/250

[2022-11-19 16:08] #209 closed